.big-text {
  font-size: 16px;
}

.small-text {
  font-size: 14px;
}

.no-padding {
  padding: 0;
}

.booking-container {
  min-width: 320px;
  padding: 0;
}

* {
  font-size: 12px;
}

.steps .row {
  border: solid 1px #999;
  height: 50px;
}

.steps .step {
  color: #999;
  text-align: center;
  padding: 10px 10px 0 0;
  word-wrap: break-word;
  width: 20%;
  float: left;
  position: relative;
}

.steps .step:first-child {
  border-left-width: 1px;
}

.steps .step:after, .steps .step:before {
  border-width: 25px 0 25px 10px;
  border-style: solid;
  content: "";
  display: block;
  position: absolute;
  top: -1px;
}

.steps .step:before {
  border-color: transparent transparent transparent #999;
  right: 0;
}

.steps .step:after {
  border-color: transparent transparent transparent #FFFFFF;
  right: 1px;
}

.steps .step:last-child:after, .steps .step:last-child:before {
  display: none;
}

.steps .active, .steps.at-step-1 .step.step-1, .steps.at-step-2 .step.step-2, .steps.at-step-3 .step.step-3, .steps.at-step-4 .step.step-4, .steps.at-step-5 .step.step-5 {
  color: #FF69B4;
  font-weight: bold;
}

.steps .active:before, .steps.at-step-1 .step.step-1:before, .steps.at-step-2 .step.step-2:before, .steps.at-step-3 .step.step-3:before, .steps.at-step-4 .step.step-4:before, .steps.at-step-5 .step.step-5:before {
  border-color: transparent transparent transparent #FF69B4;
}

body {
  margin-bottom: 110px;
}

.select-item {
  border-bottom: solid 1px #999;
  padding: 15px;
}

.select-item img {
  position: absolute;
  max-width: 100%;
  min-height: 100px;
  width: 100px;
}

.select-item .media-left {
  width: 100px;
  height: 100px;
  position: relative;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
}

.select-item .media-body p {
  padding-left: 10px;
  padding-right: 20px;
  margin-left: 10px;
}

.select-item:last-child {
  border-bottom: solid 1px #999 !important;
}

.categories {
  margin-left: 0 !important;
}

.categories li {
  background: #FF69B4;
  color: #dfdfdf;
  font-size: 14px;
  margin-bottom: 3px;
}

.price {
  color: #ff0064;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  word-wrap: break-word;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  margin-top: 0;
  padding-left: 0;
}

.btn-booking, .btn-next, .btn-submit, .btn-top {
  font-size: 12px;
  padding: 3px 20px;
  border: solid 1px #999;
  font-weight: bold;
}

.btn-booking.selected, .selected.btn-next, .selected.btn-submit, .selected.btn-top {
  background: #999;
  color: #ddd;
}

.btn-next, .btn-submit {
  border: 0;
  background: #FF69B4;
  border: solid 1px #FF69B4;
  color: #fff;
  margin: 5px auto;
  display: block;
  width: 200px;
  z-index: 300;
  width: 100%;
  font-size: 14px;
}

.btn-next:focus, .btn-submit:focus, .btn-next:active, .btn-submit:active {
  color: #fff;
}

.btn-top {
  width: 200px;
  width: 100%;
  font-size: 14px;
  margin: 10px auto;
}

.footer-attachment {
  width: 100%;
  float: left;
  text-align: center;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border-top: solid 1px #999;
  bottom: 0;
  padding: 10px 15px;
}

.filter-list {
  margin: 12px 0;
  height: auto;
  overflow: hidden;
}

.filter-list table tbody tr td {
  padding: 0;
  overflow: hidden;
}

.filter-list .panel-heading {
  font-weight: bold;
  position: relative;
  cursor: hand;
  cursor: pointer;
}

.filter-list .panel-heading:after {
  font-weight: bold;
  content: "\e113";
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.filter-list .panel-heading.collapsed:after {
  content: "\e114";
}

.filter-list .panel-footer {
  padding: 5px;
  background: transparent;
}

.filter-list .checkbox {
  padding-left: 25px;
}

.checkbox input, .radio input {
  margin-top: 1px;
}

.loading-message {
  text-align: center;
  font-style: italic;
  color: #bbb;
  padding: 10px;
}

.heading {
  background: #b3b3b3;
  border: solid 1px #292929;
  color: #fff;
  padding: 5px 12px;
  margin-bottom: 0;
  margin-top: 5px;
}

.option-list .radio {
  margin: 0;
  padding-left: 20px;
}

td, thead th {
  text-align: center;
}

table tbody tr td:first-child {
  text-align: left;
}

thead {
  background: #F4F4F4 !important;
}

tr th {
  background: #F5F3F1;
}

.text-align-left, .filter-table {
  text-align: left !important;
}

.text-align-left *, .filter-table * {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-right * {
  text-align: right !important;
}

td, th {
  vertical-align: middle !important;
}

.scheduleR, .hourR {
  margin-bottom: 0;
}

.select-booking-staff, .select-booking-seat {
  position: absolute;
  right: 15px;
  top: 50%;
  font-weight: bold;
  font-size: 18px;
  color: #292929;
}

.td-align-left td {
  text-align: left;
}

.help-block-error {
  margin: 0;
}

.small-input {
  height: auto;
  padding: 0;
  margin: 0;
  float: left;
  position: relative;
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.text-center * {
  text-align: center;
}

.booking-error {
  border-radius: 0 !important;
  background: #F5F3EF !important;
  border-color: transparent;
  color: #DD0000 !important;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  display: none;
  padding: 10px 15px;
}

.help-block-error {
  color: #DD0000;
}

.filter-table {
  overflow: hidden;
  height: auto;
}

.filter-table div.col-xs-6 {
  word-wrap: break-word;
  height: 100%;
  padding: 5px;
  z-index: 1;
}

.filter-table .bordered {
  border-left: solid 1px #ccc;
}

.filter-table div.row {
  border-bottom: solid 1px #ccc;
}

.filter-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-table-row, .filter-table .row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.is-table-row [class*="col-"], .filter-table .row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.filter-table {
  padding: 0;
  margin-bottom: 10px;
}

.filter-table .row {
  margin-left: 0;
}

.panel-footer {
  border-top: 0;
}

.booking-container .select-item:first-child {
  border-top: 0;
}

.footer-attachment {
  background: #fff;
  z-index: 1000;
}

.normal-text {
  font-size: 14px;
  margin: 0;
  margin-bottom: 3px;
  font-weight: normal;
}

.booking-container {
  margin-top: 50px;
}

.booking-container * {
  font-size: 14px;
}

.booking-container .steps * {
  font-size: 12px;
}

.select-staff, .select-seat {
  cursor: hand;
  cursor: pointer;
}

.select-staff .name, .select-seat .name {
  font-size: 16px;
  padding-left: 10px;
}

.top-floated {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  border-bottom: solid 1px #999;
  height: auto;
  overflow: hidden;
  z-index: 3000;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.booking-container {
  position: absolute;
  top: 0px;
  overflow: hidden;
  height: 340px;
  overflow-y: auto;
  width: 100%;
}

.booking-container-screen-1 {
  top: 70px;
}
