.checkbox label {
  height: 33.33333px;
  padding: 3px 20px;
}

.checkbox label:after {
  color: #AE2D5B;
  font-size: 20px;
}

.checkbox label:before {
  background: transparent;
  border-radius: 0;
  border: solid 2px #444;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.login-box-custom {
  width: 340px;
  max-width: 90%;
  border: solid 2px #444;
}

.login-box-custom .login-logo {
  margin: -20px;
  margin-bottom: 20px;
  background: #F2F2F2;
  font-size: 28px;
  padding: 5px;
}

.login-box-custom .control-label {
  padding-left: 6px;
  border-left: solid 6px #ff0064;
  font-weight: normal;
  font-size: 16px;
  color: #444 !important;
  /*&:after {
			content: '*';
			font-size: $fontsize-base;
			margin-left: 4px;
			color: $cl-active-red;
		}*/
}

.login-box-custom .custom-input, .login-box-custom button, .login-box-custom input[type=text], .login-box-custom input[type=password] {
  width: 300px;
  height: 50px;
  max-width: 100%;
  max-height: 50px;
}

.login-box-custom .checkbox {
  font-size: 16px;
}

.login-box-custom .checkbox input {
  width: 25px;
  height: 25px;
  border: solid 2px #444;
}

.login-box-custom .checkbox span {
  line-height: 2;
}

.login-box-custom button {
  border-radius: 5px;
  background-color: #ff0064;
  font-size: 22px;
  color: #dfdfdf;
}

.login-box-custom button:hover {
  color: #fdfdfd;
}

.login-box-custom input[type=text], .login-box-custom input[type=password] {
  border: solid 2px #444;
}
