/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2016, 4:49:14 PM
    Author     : Admin
*/

select{
    width: 99%!important;
}
.btn-block{
    margin-bottom: 10px;
}

#return_goods.active{
    background: #f67976;
    font-weight: bold;
    color: #fff;
}
.cover-accounting label{
    font-size:13.1px;
}
.arrow_button{
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.arrow_button.arrow_up:hover{ color:#0b8043;}
.arrow_button.arrow_down:hover{ color:#dd5044;}