.obj-booking {
    /* background-color: #e3a1a1 !important; */
    padding: 16px !important;
    border-radius: 8px;
    background-color: #feff23 !important;
    font-weight: bold;
    border:#A7907D 1px solid;
    box-shadow: 0 2px rgb(204,204,204);
}
.obj-booking-disable{
    /*background-color: #e3a1a1 !important;*/
    padding: 16px !important;
    border-radius: 8px; 
    background: #e3e3e3 !important;
    font-weight: bold;
    box-shadow: 0 2px rgb204,204,204;
}
.obj-day-off{
    background: #525252 !important;
    color: #eee;
    padding: 20px !important;
    border-radius: 8px; 
    font-weight: bold;
    box-shadow: 0 2px rgb(204,204,204);
}
  .day-off{
    background: #525252 !important;
  }
  #dateBooking{
    display: none;
  }
  /*  #schedule-table{
  
      width: 750px;
      height: 500px;
      overflow: hidden;
  
    }*/
  .scroll-container{
    height: 600px;
    overflow: hidden;

  }
  .ui-datepicker{
    z-index : 999 !important;
  }
  #schedule-table .fa-exclamation-triangle {
    margin-left: 20px;
  }
  .temp-status{
    background: hsl(350, 100%, 88%) none repeat scroll 0 0;
    border-radius: 100px;
    color: hsl(0, 0%, 100%);
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
  #schedule-table{
    font-weight: bold;
  }
 /*HungHNQ Add*/ 
  .from-time.form-control {
    display: inline-flex;
    width: 40px;
    height: 20px;
}