html {
   -ms-overflow-style: scrollbar;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align:left!important;
}
.text-right{
    text-align: right!important;
}
input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 3px;
}
.form-control{
    border-radius: 3px ;
}
.input-group .input-group-addon {

    border-radius: 0 3px 3px 0;
}
.btn-collapse{
    margin-left:0px !important;
    margin-top:10px;
}
.enjoy-lottery-toggle{
    text-align:right;
    color:blue;
}
.common-box{
    border: 0px;
}
.common-box-h4{
    border-left: 10px solid #c5c0b5;
    border-bottom: 2px solid #c5c0b5 !important;
    margin-bottom: 1%;
    margin-top: 1%;
}
.box.box-solid.box-info>.box-header{
    background-color: #800c47;
    background: #800c47;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(53, 53, 53, 0.27);
}
.box.box-solid.box-info {    
    border: 1px solid rgba(45, 11, 7, 0.19);    
}
.common-button-default{
    color: #000;
    font-weight: bold;
    border-radius: 3px;
    font-size: 18px;
    padding: 5px 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.common-button-submit{
    background:  #da5c9c;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 18px;
    padding: 5px 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.common-button-submit:hover{
    background:  #da5c9c;
    color: #fff;
}
.common-button-action{
    background:  #da5c9c;
    margin-right: 5px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    /*float: right;*/
}
.common-button-action:hover{
    background:  #da5c9c;
    color: #fff;
}
.common-float-right{
    float: right;
}
.common-clr-fl-right{
    clear: both;
    float: right;
}
.pagination{
    margin-top: 5px;
    margin-right: 10px;
}
.box-header{
    padding: 0px;
    padding-left: 10px;
}

.master-notice-date .col-md-6 .col-md-3{
    width:48.5%;
}
.master-notice-date .col-md-6 .col-md-9{
    width:50%;
}

.master-notice-date .end-date .col-md-3{
    width:5%;
}

.return-index-page{
    background:  #A6A39B;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 30px;
}
.return-index-page a{
    color:#fff;
}

.return-index-page a:hover{
    color:#fff;
}

.master-notice a.btn:hover{
    color:#fff !important;
}


.clear-form-group > .form-group{
    margin-bottom: 0;
}
.clear-form-group{
    margin: 10px 0;
}
.clear-form-group-1{
    margin: 4px 0;
}
.clear-form-group-1 > .form-group{
    margin-bottom: 0;
}
.clear-form-group-2{
    margin: 0;
}
.clear-form-group-2 > .form-group{
    margin-bottom: 0;
}
.div-margin{
    clear: both;
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.row-inline{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.hasDatepicker{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.hasDatepicker.has-success .hasDatepicker {
    border-color: #00a65a;
    box-shadow: none;
}
.div-border{
    border: 1px solid #A6A39B;
    color: #000;
    padding: 10px;
}
.clear-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.clear-padding-top-bot{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.bg_header{
    background-color: #E9E9E9;
    border: 1px solid #fff;
}
.div-padding{
    padding: 15px;
}
.form-marging{
    margin-top: 8px;
}
.common-box>.row{
    margin: 0 20px;
}

.destination-search{
    margin-top:20px;
}

.booking-history-category .field-masterbookinghistorysearch-category label{
    display:inline;
    width: 13.5em;
}
.required-star{
    color: inherit;
}

.required-star:after{
    color: red;
    content: ' *';
    display:inline;
}
.booking-history-category div{
    display:inline;
}
.booking-history-category #masterbookinghistorysearch-category{
    margin-left: 13.5em;
}
.modal-content > .modal-footer {
    text-align: center;
}
.modal-body > div {
    display: block;
    position: relative;
    overflow: hidden;
}
.skin-red-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #800c47;
}
.skin-red-light .main-header .logo {
    background-color: #2f2929;
    border-bottom: 0 solid hsla(0, 0%, 0%, 0);
    color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 1px #888888;
}
.skin-red-light .main-header .logo:hover {
    background-color: #2f2929;
}
.skin-red-light .main-header li.user-header {
    background-color: #AE2D5B;
}
.skin-red-light .main-header .navbar{
    background-color: #800c47; 
    box-shadow: 1px 1px 1px #888888;
}

div#masterseatsearch-smoking_flg,div#masterseatsearch-show_flg,div#masterseat-smoking_flg,div#masterseat-show_flg{
    overflow: hidden;
}
div#masterseatsearch-smoking_flg .radio , div#masterseatsearch-show_flg .radio ,div#masterseat-smoking_flg .radio,div#masterseat-show_flg .radio {
    float: left !important;
    width: 200px;
}
div#mastertypeseat-show_flg{
    overflow:hidden;
}
div#mastertypeseat-show_flg .radio{
    float: left !important;
    width: 150px;
}
#masterticket-ticket_jan_code{
    text-align: left !important;
}
/*Setting Iphone 5*/
@media (max-width: 320px) {
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
.btn-collapse{
    margin-left:0px !important;
    margin-top:10px;
}
.enjoy-lottery-toggle{
    text-align:right;
    color:blue;
}
.common-box{
    border: 0px;
}
.common-float-right{
    float: right;
}
.common-clr-fl-right{
    clear: both;
    float: right;
}
.pagination{
    margin-top: 5px;
    margin-right: 10px;
}
.box-header{
    padding: 0px;
    padding-left: 10px;
}

.master-notice-date .col-md-6 .col-md-3{
    width:48.5%;
}
.master-notice-date .col-md-6 .col-md-9{
    width:50%;
}

.master-notice-date .end-date .col-md-3{
    width:5%;
}

.return-index-page{
    background:  #A6A39B;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 30px;
}
.return-index-page a{
    color:#fff;
}

.return-index-page a:hover{
    color:#fff;
}

.master-notice a.btn:hover{
    color:#fff !important;
}


.clear-form-group > .form-group{
    margin-bottom: 0;
}
.clear-form-group{
    margin: 10px 0;
}
.clear-form-group-1{
    margin: 4px 0;
}
.clear-form-group-1 > .form-group{
    margin-bottom: 0;
}
.clear-form-group-2{
    margin: 0;
}
.clear-form-group-2 > .form-group{
    margin-bottom: 0;
}
.div-margin{
    clear: both;
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.row-inline{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.hasDatepicker{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.hasDatepicker.has-success .hasDatepicker {
    border-color: #00a65a;
    box-shadow: none;
}
.div-border{
    border: 1px solid #A6A39B;
    color: #000;
    padding: 10px;
}
.clear-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.bg_header{
    background-color: #E9E9E9;
    border: 1px solid #fff;
}
.div-padding{
    padding: 15px;
}
.form-marging{
    margin-top: 8px;
}
.common-box>.row{
    margin: 0 20px;
}

.destination-search{
    margin-top:20px;
}

.booking-history-category .field-masterbookinghistorysearch-category label{
    display:inline;
    width: 13.5em;
}
.required-star{
    color: inherit;
}

.required-star:after{
    color: red;
    content: ' *';
    display:inline;
}
div.required label.control-label:after {
    content: " *";
    color: red;
}
.booking-history-category div{
    display:inline;
}
.booking-history-category #masterbookinghistorysearch-category{
    margin-left: 13.5em;
}
.modal-content > .modal-footer {
    text-align: center;
}
.modal-body > div {
    display: block;
    position: relative;
    overflow: hidden;
}
.kv-file-content img{
    width: 100% !important;
    height: 200px;
}
.multiple-input-list>thead> tr>th{
}
.multiple-input> table.multiple-input-list tbody tr > td{
    text-align: center;
    border: 1px solid #A6A39B !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(2){
    border-right: 0px !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(3){
    border-left: 0px !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(4){
    border-right: 0px !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(5){
    border-left: 0px !important;
    border-right: 0px !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(6){
    border-left: 0px !important;
}
table.multiple-input-list>thead>tr>th{
    border: 1px solid #A6A39B !important;
}
table.multiple-input-list>thead>tr>th:nth-child(2){
    border-right: 0px !important;
}
table.multiple-input-list>thead>tr>th:nth-child(3){
    border-left: 0px !important;
}
table.multiple-input-list>thead>tr>th:nth-child(5){
    border-left: 0px !important;
    border-right: 0px !important;
}
table.multiple-input-list>thead>tr>th:nth-child(6){
    border-left: 0px !important;
}
.position-absolute{
    position: absolute;
}

#masterseat-capacity_min,#masterseat-capacity_max,#masterseatsearch-capacity_min{
    text-align:right;
}

/*Setting Iphone 5*/
@media (max-width: 320px) {
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* ******************* */
/* Css for Master coupon Datpdt 09/19/2016 Start*/
/* ******************* */
.label-margin {
    margin-top: 0.8em;
    font-weight: bold;
}

.label-margin_price {
    margin-top: 0.5em;
}
.label-center {
    text-align: center;
    font-weight: bold;
}
.font_label {
    font-weight: bold;
}
.font_label label{
    font-weight: bold;
}
.magin_button {
    margin-left: 2em;
}
.boder_input{
    border-radius: 0.5em;
}
.drop_list{
    width: 15em;
}
.radio_benefits_content_coupon{
    margin-top: 0.7em;
}
.table-product{
    margin-top: 1em;
    width: 47em;
}
th{
    text-align: center;
    background-color: #ccc;
}
td{
    text-align: center; 
}
.field-store-post_code .help-block{
    width: 30em;
}
.date_ {
    width: 1em;
}
/* Hiden icon in image */
.file-upload-indicator {
    display: none;
}
.close{
    display: none;
}
.content{
    /*    postition:relative;
        overflow: hidden;*/
    padding-top: 0px;
}
.graph-sale-custom{
    margin-top: 45px;
    display: block;
    position: relative;
}
.graph-sale-custom span{
    margin-top: 250px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 19px;
}
h3.top-date-time{
    margin: 0px;
}
.index-info .text-below{
    color:#333;
    font-size: 14px;
    font-weight: bold;
}
.list-store-backend{
    min-width: 200px;
}
.index-info .col-md-4{
    margin-top:30px;
}
.info-header-label{

}
/* ******************* */
/* Css for Master coupon Datpdt 09/19/2016 End*/
/* ******************* */


/* css for pagination */


.hiden  a {
    display: none;
}
.hiden.show2 > a {
    background: none;
    border: medium none;
    color: hsl(240, 6%, 43%);
    display: inline;
    font-weight: normal;
    padding: 5px 0;
    text-align: center;
    width: 60px;
}
.pagination > li > a, .pagination > li > span{
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 87%);
    border-radius: 5px;
    z-index: 1 !important; 
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 30px;
}
.hiden.active.show2 > a:hover {
    background: none;
    color: #666673;
}
.pagination{
    margin-top: 1px;
    margin-top: 1px;
}
.pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: hsl(0, 0%, 100%);
    color: hsl(240, 6%, 43%);
}

.text-danger-seat{
    color: #dd4b39;
}
.form-group.has-error .hasDatepicker{
    border-color: #dd4b39;
    box-shadow: none;
}

.input-group .form-control {
    position: relative;
    z-index: 0;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.div-horizontal{
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    /*    -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;*/
}
.div-horizontal-all{
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#mastercustomer-mobile{
    text-align: left !important;
}
.field-mastercouponseach-coupon_jan_code #mastercouponseach-coupon_jan_code{
    text-align: left !important;
}
@media (min-width: 768px){
    .modal > .modal-dialog {
        width: 40%;
        margin: 30px auto;
    }
}
.field-storesearch-tel #storesearch-tel {
    text-align: left !important;
}
.field-masterstore-tel #masterstore-tel {
    text-align: left !important;
}


.treeview-menu a{
    background: #f4f4f5;
    padding-left: 2.2em !important;
}

#mastercouponseach-category .checkbox-inline:first-child {
    margin-left: 1.5%;

}

.checkbox-inline:first-child {
    margin-left: 1.1%;

}

.with_booking_search{
    width: 9em;
}
.to_home_delivery_flg{
    text-align: center;
    display: block;
    padding: 10px 20px;
    background-color: #006FBF;
    color: #fff;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #dd4b39;
}
.has-error .form-control {
    border-color: #dd4b39 !important;
}

.has-error .input-group-addon {
    color: #dd4b39 !important;
}
.modal-body{
    max-height: 800px !important;
    overflow: auto;
}

.with-table-button{
    width: 10em;
}
.with-table-no{
    width: 3em;
}
.with-table-button_product{
    width: 1em;
}
.magin-button-giff{
    margin-bottom: 1em;
}
.bg_table_confirm_booking{
    background: #f3dfbb;
}
.field-checklist-type{
    height: 1.4em !important;
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ffffff !important;
    z-index: 800;
}

.font_size_header_top{
    font-weight: 600;
}
.color_price_top{
    font-size: 24px;
    color: #ec6fa2;
    text-align: center;

}

.add_ a{
    color: #ff0000;
    font-weight: bold;

}

/* wizard step */
.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    /* padding-top: 50px; */
}

.wizard h3 {
    margin-top: 0;
}
.step1 .row {
    margin-bottom:10px;
}
.step_21 {
    border :1px solid #eee;
    border-radius:5px;
    padding:10px;
}
.step33 {
    border:1px solid #ccc;
    border-radius:5px;
    padding-left:10px;
    margin-bottom:10px;
}
.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.mar_ned {
    margin-bottom:10px;
}
.wdth {
    width:25%;
}
.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}


/* according menu */
#accordion-container {
    font-size:13px
}
.accordion-header {
    font-size:13px;
    background:#ebebeb;
    margin:5px 0 0;
    padding:7px 20px;
    cursor:pointer;
    color:#fff;
    font-weight:400;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px
}
.unselect_img{
    width:18px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}
.active-header {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    background:#F53B27;
}
.active-header:after {
    content:"\f068";
    font-family:'FontAwesome';
    float:right;
    margin:5px;
    font-weight:400
}
.inactive-header {
    background:#333;
}
.inactive-header:after {
    content:"\f067";
    font-family:'FontAwesome';
    float:right;
    margin:4px 5px;
    font-weight:400
}
.accordion-content {
    display:none;
    padding:20px;
    background:#fff;
    border:1px solid #ccc;
    border-top:0;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px
}
.accordion-content a{
    text-decoration:none;
    color:#333;
}
.accordion-content td{
    border-bottom:1px solid #dcdcdc;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
.bt-hide {
    display: none !important;
}
.bt-show {
    display: block !important;
}

.bt-clone {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #f50a0a;
    font-weight: bold;
    font-size: 1.3em;
}
.text-red-custorm{
    color: #FF0000 !important;
}

.related-post {
    padding: 0;
    margin: 0 0 20px;
    font-size: 110%;
    border-bottom: 2px dashed rgb(0, 0, 0);
}

.expire_date{
    text-align: left;
    font-weight: bold;
}
.content .modal-content {

}

.font_large{
    font-weight: bold;
    font-size: 1.5em;
}

.font_nomal{
    font-weight: bold;
    font-size: 1.3em;
}

.div-header{
    background-color: #F1F1F1;
    background: #F1F1F1;
    color: #000;
    padding: 5px 20px;
}
.div-border-bot{
    border-bottom: 2px solid #F1F1F1;
}
.magin_top_company{
    margin-top: 1em;
}
.skin-red-light .wrapper, .skin-red-light .main-sidebar, .skin-red-light .left-side {
    background-color: #f2efe8;
}
.skin-red-light .sidebar-menu>li:hover>a, .skin-red-light .sidebar-menu>li.active>a {
    color: #000;
    background: #c7a693;
}
.skin-red-light .treeview-menu>li.active>a, .skin-red-light .treeview-menu>li>a:hover {
    color: #5e0231;
}

h4, .h4 {
    font-size: 16px;
}
.magin-left-coupon{
    padding-left: 5em;
}

.with-form-label-coupon{
    width: 7em;
}
.with-form-label-coupon-to{
    width: 7em;
}
.preview_coupon_pv{
    text-align: center;margin-left: 9em;border: 1px solid #716d6d;padding: 1em;width: 65%;
}
.mastercoupon-title_top{
    margin-left: 0.4em;
}
.introduction{
    text-align: left;
    padding-top: 0.5em;
    margin-left: 1.5em;
}
.post_code_store_ct{
    width: 16.6em;
}
.ip_answer{
    margin-left: 0.5em; 
    width: 15.7em;
}
.tb{
    width: 54.2em;
    margin-left: 1em;
}
.table_checklist_preview_box{
    border: 1px solid #ddd;
    background: #ececeb;padding-left: 0px;
    padding-right: 0px;
    margin-left: 2.2em;
}
.table_checklist_preview_option{
    background: #ffffff;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.table_checklist_preview_box_title{
    padding-top: 1em;
    background: #ececeb;
    min-height: 5em;
    text-align: center;
    font-weight: bold;
}
.table_checklist_preview_box_content{
    background: #ffffff;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.table_checklist_preview_option_box{
    margin-top: 0.5em;
    border: 1px solid #ddd;
    background: #ececeb;
    padding-left: 0px;
    padding-right: 0px;margin-left: 2.2em;
}
.table_checklist_preview_option_box_title{
    padding-top: 1em;
    background: #ececeb;
    min-height: 5em;
    text-align: center;
    font-weight: bold;
}
.table_checklist_preview_option_3{
    border-top: 1px solid #ddd;
    min-height: 5em;
    padding-top: 1em;
}
.table_checklist_preview_option_3_area{
    margin-bottom: 1em;
}
.store_gift_preview{
    width: 27em;margin-left: 14em;
    text-align: center;
    border: 2px solid #101010;
    padding: 1em;
}
.bt_staff_edit_delete{
    width: 12%;
}
.post_code_company_ct{
    width: 16em;
}
.btn_index_product_ct{
    width: 11%;
}
#mastercoupon-code_membership{
    text-align: left !important;
}
/* resonsive 1280px x 1040px */
@media only screen and (min-width: 1040px) and (max-width: 1280px) {
    .col-lg-2 {
        width: 31%;
    }
    .col-md-2 {
        width: 20% !important;
    }
    .col-md-9 {
        width: 65%;
    }
    .col-md-3 {
        width: 30%;
    }
    .col-md-8 {
        width: 90%;
    }
    .col-md-9 {
        width: 80%;
    }
    #bookingSimplyModal .col-md-9{
        width: 70% ;
    }
    /* Master Coupon */
    .magin-left-coupon {
        padding-left: 4em;
    }
    .magin-left-coupon-bt{
        margin-left: 5em;
    }
    .col-md-10 {
        width: 100%;
    }
    .with-form-label-coupon{
        width: 90px;
    }
    .display_condition_ct{
        width: 28%;
    }
    .with-form-label-coupon-to{
        width: 5.5em;
    }
    .with-form-label-coupon-show_coupon{
        width: 70%;
    }
    .col-md-4 {
        width: 80%;
    }
    .with-form-customer-date{
        width: 40%;
    }
    .with-form-coupon-box{
        width: 65%;
    }
    .with-form-customer-input{
        width: 40%;
    }
    .label-margin_price{
        width: 40%;
    }
    /* Coupon */
    #mastercoupon-benefits_content .radio:nth-child(1){
        margin-top: 1em;
    }
    #mastercoupon-benefits_content .radio:nth-child(3){
        margin-top: 1.5em;
    }
    #mastercoupon-benefits_content .radio:nth-child(5){
        margin-top: 1.5em;
    }
    #mastercoupon-benefits_content .radio:nth-child(7){
        margin-top: 1.5em;
    }
    .file-preview {
        width: 40%;
    }
    .preview_coupon_pv {
        text-align: center;
        margin-left: 1.6em;
        border: 1px solid #716d6d;
        padding: 1em;
        width: 90%;
    }
    .title_preview_coupon{
        width: 0% !important;
    }
    .mastercoupon-title_top {
        margin-left: -1.8em;
    }
    .title{
        margin-left: 1.1em;
    }
    .expiration_date_tt{
        width: 30% !important;
    }
    .expire_date_vl{
        width: 30% !important;
    }
    .expire_date_tl{
        width: 30% !important;
    }
    .introduction{
        text-align: left;
        padding-top: 0.5em;
        margin-left: 0em;
    }
    /* Customer */
    .post_code_ctm{
        width: 49%;
    }
    .button-submit_search_ctm{
        width: 47%;
    }
    /* Store */
    .store_ct{
        width: 30%; 
    }
    .input_store_ct{
        width: 35%;
    }
    .pos_use_store_ct{
        width: 20%;
    }
    .label_store_ct{
        width: 25%;
    }
    .post_code_store_ct{
        width: 23%;
    }
    .label_show_flg_store_ct{
        width: 27%;
    }
    .ct_seat_date{
        margin-left: 3.6em;
    }
    .ct_seat_space{
        margin-top: 0.4em;
    }
    .bt_seat_create{
        margin-top: 0.4em;
    }
    .radio_show_flg_store_ct{
        width: 70%;
    }
    .image_store_ct{
        width: 75%;
    }
    .equals_label_store_ct{
        width: 10%;
    }
    .booking_resources_store_ct{
        width: 50%;
    }
    .store_item_ct{
        width: 50%;
        margin-left: 13.5em;
    }
    /* Check List Store */
    .notice_content_store_ct{
        width: 83%;
    }
    .add_{
        text-align: right;
        width: 80%;
    }
    .option_store_st{
        width: 40%;
    }
    .question_content_store_ct{
        width: 90%;
    }
    .ip_answer{
        margin-left: 0em; 
        width: 13em;
    }
    .answer_store_ct_10{
        width: 70%;
    }
    .option_store_ct_sl2{
        width: 31.5%;
    }
    .tb{
        width: 47.5em;
        margin-left: 1em;
    }
    .table_checklist_preview_option{
        width: 78.5%;
    }
    .table_checklist_preview_option_3_area{
        width: 90%;
    }
    .store_gift_preview{
        width: 27em;
        margin-left: 4.2em;
        text-align: center;
        border: 2px solid #101010;
        padding: 1em;
    }
    /* Staff */
    .bt_staff_edit_delete{
        width: 15%;
    }
    .sex_staff_ct{
        width: 20%;
    }
    .career_satff_ct{
        width: 35%;
    }
    .img_staff_ct{
        width: 70%;
    }
    /* Master Gift */
    .input_gift_search_ct{
        width: 32%;
    }
    .first_name_staff_ct{
        width: 28.2% !important;
    }
    .last_name_staff_ct{
        width: 33% !important;
    }
    .name_gift_ct{
        width: 68%;
    }
    .label_name_gift_ct{
        width: 32%;
    }
    .post_gift_ct{
        width: 16%;
    }
    /* post_code Company */
    .post_code_company_ct{
        width: 18%;
    }
    .btn_search_adress_company_ct{
        width: 10%;
    }
    .background_giff_ct{
        padding-left: 2em;
    }
    .character_giff_ct{
        padding-left: 2em;
    }
    .btn_sumit_giff_ct{
        width: 20%;
    }
    .point_conversion_yen_point_ct{
        width: 20%;
    }
    /* Sale Report */
    .input_sale_report_ct{
        width: 32%;
    }
    /* Visit History */
    .label_visit_history_ct{
        width: 20%;
    }
    .label_master_ticket_ct{
        width: 25%;
    }
    .popup_product
    {
        /*width: 68%;*/
    }
    /* Product */
    .input_product_ct{
        width: 70%;
    }
    .btn_index_product_ct{
        width: 15%;
    }
    .image_product_ct{
        width: 69%;
    }
    .assign_fee_flg_product_ct{
        width: 20%;
        text-align: left;
    }
    .popup_product{
        /*width: 70%;*/
    }
    .box_search_option_ct{
        width: 100%;
    }
    /*  Booking Schudule */
    .wtHolder{
        /* width: 100% !important; */
    }
    /* Booking Search */
    .input_booking_ct{
        width: 25%;
    }
    .label_booking_ct{
        width: 18%;
    }
    .view_booking_ct{
        width: 20%;
    }
    .total_fee_booking_ct{
        width: 30%;
    }
    .box1_booking_ct{
        width: 30%;
    }
    .box2_booking_ct{
        width: 31%;
    }
    .box3_booking_ct{
        width: 34%;
    }
    .demand_booking_ct{
        width: 70%;
    }
    .status_booking_ct{
        width: 80%;
    }
    .label_preview_booking_ct{
        width: 19%;
    }
    .post_code_booking_ct{
        width: 50%;
    }
    .post_code_btn_booking_ct{
        width: 45%;
    }
    .label_transmision_booking_ct{
        width: 20%;
    }
    .product_select_booking_ct{
        width: 35%;
    }
    .receptionsetting_booking_ct{
        width: 50%;
    }
    /* Notice */
    .first_name_notice_ct{
        width: 9.6em;
    }
    .label_preview_one_notice_ct{
        width: 30%;
    }
    #radio_customer_value_0{
        width: 60%;
    }
    .btn_sm_notice_ct{
        width: 100%;
    }
    .input_notice_ct{
        width: 70%;
    }
    #radio_customer_value_1{
        width: 85%;
    }
    .field-masternotice-send_date{
        width: 7em;
    }
    .field-masternotice-send_time
    {
        width: 6em;
    }
    .pagination {
        display: table;
        padding: 6px !important;
    }
    .label_widget_notice_ct{
        width: 20%;
    }
    .input_widget_notice_ct{
        width: 30%;
    }
    .deliver_time_notice_ct{
        width: 18%;
    }
    #list-push-timming{
        width: 82%;
    }
    .setting_auto_notice_ct{
        width: 70%;
    }
    .btn_ct{
        margin-top: 0.3em;
    }
    .label_update_option_ct{
        width: 25%;
    }
    .option_product_ct{
        /*width: 69%;*/
    }
    .margin-bottom-10 {
        margin-bottom: 10px;
        margin-top: 0.3em;
    }
    .label_sale_ct{
        width: 20%;
    }
    .box_preview_ct_mn {
        margin-left: 2em !important;
    }
    .background_giff_ct_preview {
        width: 9em !important;
        font-weight: bold;
        margin-left: 9.5em;
    }
    .character_giff_ct_preview {
        margin-left: 1.6em !important;
        width: 6em !important;
        font-weight: bold;
    }

    .background_giff_ct_preview1 {
        width: 7.5em !important;
        font-weight: bold;
        margin-left: 9em;
    }
    .character_giff_ct_preview1 {
        margin-left: 1.6em !important;
        width: 6em !important;
        font-weight: bold;
    }


    .customer_modal_content{
        width: 59em;
    }
    .modal-footer_ct{
        width: 59em;
    }
    .label_color_ct{
        width: 9em;
    }
    .input_color_ct{
        width: 35%;
    }
    /* enjoy-lottery */
    .label_enjoy_lottery{
        width: 40%;
    }
    .input_date_enjoy_lottery{
        width: 40%;
    }
    .input_date_form_enjoy_lottery{
        width: 30%;
    }
    .label_form_enjoy_lottery{
        width: 20%;
    }
    .wt_ct{
        width: 8%;
    }
    .member_code_enjoy_lottery_ct{
        width: 20%;
    }
    .with_cl1_ct{
        width: 0.1em;
    }
    .label_top_admin_ct{
        width: 30%;
    }
    .chart_top_admin_ct{
        width: 80%;
    }
    .input1_sale_report_ct{
        width: 35%;
    }
    .font_label_sale_ct{
        width: 16%;
    }
    .input2_sale_report_ct{
        width: 17%;
    }
    .store_shift_sp{
        width: 0.5%;
    }
    .ip_ticket_store{
        width: 31% !important;
    }
    .separator{
        width: 0.4em;
        margin-right: 0.6em;
        margin-top: 0.6em; /* HungLQ margin-top: 0.4em; */
    }
    .gift_search_ct_bt{
        width: 46.5%;
    }
    .ct_gift{
        margin-top: 0.5em;
    }
    .gift_search_vsv_bt{
        width: 0%;
    }
    .post_code_company_ct1{
        width: 11.5em !important;
    }
    .search_adress_ct1{
        width: 50% !important;
    }
    .ct_admin{
        width: 30% !important;
    }
    .ct_company_admin{
        text-align: center;
        margin-left: 7.6em;
    }
    .ct_company_admin1{
        text-align: center;
    }
    #preview-booking_date{
        width: 35%;
    }
    .label_type_seat{
        width: 36%;
    }
    .input_type_seat{
        width: 30%;
    }
    .image_type_seat{
        width: 70%;
    }

    #bookingSimplyModal .col-md-6 {
        width: 50%;
    }
    #bookingSimplyModal .col-md-4 {
        width: 30%;
    }
    #bookingSimplyModal .col-md-2 {
        width: 20%;
    }
    .ct_store_bt_create{
        margin-top: 0.4em;
    }
}
.pagination > li > a, .pagination > li > span {
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 87%);
    border-radius: 3px;
    z-index: 1 !important;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 30px;
}

/*HungHNQ Add*/
.content-header>.breadcrumb>li>a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 3px;
}
.content-header>.breadcrumb>li+li:before {
    content: '/';
    color :#D36985;
}
.breadcrumb > .active {
    color: #777;
    text-decoration: none;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 3px;
}
.content-header>h1 {
    margin: 0;
    font-size: 24px;
    padding-bottom: 8px;
}
.top-pagination-rank{
    width:321px;
    margin:0 auto;
    position:relative;
    display:block;
}
.top-pagination-rank .pagination{
    width: 100%;
    z-index:2;
}
.top-pagination-rank .pagination .prev{
    float:left;
}
.top-pagination-rank .pagination .next{
    float:right;
}
.top-pagination-rank .count-page-pagination{
    position:absolute;
    margin: 0 auto;
    left:0px;
    right:0px;
    top:0px;
    text-align:center;
    font-size:17px;
    padding:5px 0px;
    z-index:1;
    width: 100px;
}

/*HungHNQ change color*/
/*.obj-booking {
     background-color: #e3a1a1 !important; 
    padding: 20px !important;
    border-radius: 8px;
    background-color: #feff23 !important;
    font-weight: bold;
    border:#A7907D 1px solid;
    box-shadow: 0 2px rgb(204,204,204);
}
.obj-booking-disable{
    background-color: #e3a1a1 !important;
    padding: 20px !important;
    border-radius: 8px; 
    background: #e3e3e3 !important;
    font-weight: bold;
    box-shadow: 0 2px rgb204,204,204;
}
.obj-day-off{
    background: #525252 !important;
    color: #eee;
    padding: 20px !important;
    border-radius: 8px; 
    font-weight: bold;
    box-shadow: 0 2px rgb(204,204,204);
}*/
.from-time.form-control {
    display: inline-flex;
    width: 40px;
    height: 20px;
}
.fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
}
.fc-widget-header:first-of-type, .fc-widget-content:first-of-type {
    font-size: 16px;
    height: 35px;
    vertical-align: middle !important;    
    color: #5a5555;
}
.fc tbody .fc-row .fc-content-skeleton tbody tr:last-child td {
    padding-bottom: 5px;
}
.setting-time-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;    
}
.fc td, .fc th {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: middle;
}
.receptionsetting-screen .fc-month-view {
    border: solid 1px #ccc;
    border-top: 0;
    border-bottom: 0;
}
.display-none{
    display: none;
}
.background_giff_ct_preview{
    width: 6em;
}
.character_giff_ct_preview{
    margin-left: 3em;
    width: 6em;
}
.box_preview_ct_mn{
    margin-left: 6em;
}
.help-block-error{
    color: #dd4b39;
}
#masterrank-rank_condition{
    outline: none;
}

/*PAGE  ACCOUNTING MANAGEMENT */
.btn-add{
    border:none;
    background:none;
    font-size: 25px;
    line-height: 25px;
    padding: 5px;
    color: #5b9bd5;
}
.btn-add span{
    color:#333;
    font-size: 20px;
    line-height: 25px;
    padding-left: 5px;
}
.btn-add:hover, .btn-add:focus{
    border:none;
    background:none;
    color: #71b37c;    
}

.btn-remove, .btn-remove:hover, .btn-remove:focus{
    color: #d73535;
}
.cover-table-tab{
    padding:20px;
    border: 1px solid #ccc;
    border-top: none;
    background: #fefbe2;
}

#categories_product .table-product-tab{
    max-height: calc(37px*5);
    display: block;
    overflow-y: auto;
}
#categories_product .nav-tabs > li.active > a, #categories_product .nav-tabs > li.active > a:hover, #categories_product .nav-tabs > li.active > a:focus{
    background: #fefbe2;
}
#categories_product .nav-tabs > li > a{
    border: 1px solid #dfdfdf;
}
#categories_product .table-bordered>thead>tr>th, 
#categories_product .table-bordered>tbody>tr>th, 
#categories_product .table-bordered>tfoot>tr>th,
#categories_product .table-bordered>thead>tr>td,
#categories_product .table-bordered>tbody>tr>td, 
#categories_product .table-bordered>tfoot>tr>td{
    border:1px solid #ccc;
}
#categories_product .table-bordered>tbody>tr>td:hover{
    cursor: pointer;
    background:#cefbff;
}
#categories_product .table-bordered>tbody>tr>td.not-active:hover{
    cursor: auto;
    background:#fff;
}

.table-product-tab tr{
    width: 100%;
}
.table-striped > tbody > tr:nth-of-type(even){
    background: #fff;
}
/*Accounting management*/
.cover-accounting .info-box{
    padding: 15px;
    background-color: #F9F9F9;
    padding-bottom: 2px;
    min-height: 210px;
}
.last-row-info-box hr{
    margin-top:5px;
    margin-bottom: 15px;
    border-color: black;
}
.box-order-1 .row{
    margin-top: 7px;
    margin-bottom: 8px;
}
.box-order-3 .row-bottom{
    margin-top: 40px;
}
.btn-order {

}
.table-product-tab td{
    width: 50%;
}

.form-group.has-error label {
    color: #33336c !important;
}

#masterticket-date_expiration{
    margin-left: 0.5em;
}

.cover-search-jancode{
    padding:10px;
    background: #f2f2f2;
    border:2px solid #c1c1c1;
    border-radius: 5px;
}

#accounting_management_form .btn-add, #accounting_management_form .btn-add span{
    font-size:17px;
    line-height: 17px;
    padding:0px;
}

.master-message-table {
    max-width: 80%;
    margin: 0 auto;
}

.master-message-table tr{
    border-bottom: solid 1px #292929;
}

.master-message-table td {
    border: 0 !important;
}
.modal-content{
    border-radius: 1em !important;
}

.customer_modal_content {
    border-bottom-left-radius: 0em !important;
    border-bottom-right-radius: 0em !important;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


#companySettingPreview .modal-footer {
    background: #ffffff;
    text-align: center;
    border-bottom-left-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}

.system-message {
    border: 0;
    border-bottom: solid 1px #444;
    border-radius: 0;
}
.panel.panel-default.system-message {
    border-radius: 0;
}
.system-message .panel-heading {
    background: transparent;
    border: 0;
    cursor: pointer;
    cursor: hand;
}
/* HungLQ */
.separator {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
/* End HungLQ */
