/* Mobile Responsive */
@media (max-width: 1349px){
    .graph-sale-custom span{
        margin-top: 150px;
    }
}
@media (max-width: 1199px){
    .graph-sale-custom span{
        margin-top: 100px;
    }
}
@media (max-width: 979px) {
    .graph-sale-custom span{
        display: none;
    }
}

@media (max-width: 900px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media (max-width: 650px) {
    
}

@media (max-width: 480px) {
    
}

@media (max-width: 360px) {

}