.between-date {
  font-size: 25px !important;
  font-weight: bold;
  text-align: center;
}

.booking-history * {
  font-size: 15px;
}

.booking-history .search-box input, .booking-history .search-box .input-group, .booking-history .search-box select {
  border: solid 2px #444;
  border-radius: 0;
}

.booking-history .search-box .input-group input {
  border-width: 0 2px 0 0;
}

.booking-history .search-label {
  padding-left: 0;
}

.booking-history .checkbox {
  display: inline;
  float: left;
  margin-top: 1px;
}

.booking-history .checkbox label {
  padding-left: 25px;
}

.booking-history .checkbox label:before, .booking-history .checkbox label:after {
  margin-left: 0;
  margin-top: 0;
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin-top: 0;
}

.booking-history .checkbox label:after {
  border: 0;
  margin-left: -3px;
  font-size: 20px;
  margin-top: -5px;
  color: #AE2D5B;
}

.booking-history .form-group label.col-sm-2 {
  padding-left: 0;
  margin-top: 5px;
}

.booking-history .form-group .checkbox:first-of-type {
  padding-left: 0;
}

.booking-history .shared-box {
  overflow: hidden;
  border-color: gainsboro;
}

.booking-history .right-search-btn {
  padding: 16px;
  background: whitesmoke;
  min-height: 100px;
  position: relative;
  margin-top: 16px;
}

.booking-history .btn-search {
  width: 70%;
  position: absolute;
  top: 30px;
  left: 15%;
}

@media only screen and (min-width: 992px) {
  .booking-history .right-search-btn {
    padding-bottom: 100%;
    margin-bottom: -100%;
    margin-top: 0;
  }
  .booking-history .btn-search {
    top: 70px;
  }
}

.booking-history .date {
  margin-bottom: 10px;
}

.booking-history .btn-pink, .booking-history .search-item .btn {
  background: #FF69B4;
  color: white;
  border-radius: 6px;
  padding-left: 25px;
  padding-right: 25px;
  border: solid 2px #FF69B4;
  border: solid 2px transparent !important;
}

.booking-history .btn-empty, .booking-history .booking-status-03, .booking-history .fake-btn.booking-status-03 {
  background: white;
  color: #FF69B4;
  border: solid 2px #FF69B4 !important;
}

.booking-history .search-item {
  margin-top: 15px;
  border: solid 2px #444;
  padding: 15px;
}

.booking-history .search-item .col-sm-4, .booking-history .search-item .col-sm-8, .booking-history .search-item .col-sm-6 {
  margin-top: 10px;
}

.booking-history .search-item header {
  padding-bottom: 10px !important;
  border-bottom: dashed 2px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: hidden;
  height: auto;
  padding-bottom: 5px;
}

.booking-history .search-item .store-name {
  font-size: 18px;
  font-weight: bold;
}

.booking-history .shared-pagination {
  padding-left: 15px;
  float: right;
  margin-top: 25px;
  font-size: 18px;
  margin-right: -15px;
}

.booking-history .item-key {
  margin-right: 15px;
  font-size: 14px;
}

.booking-history .item-price {
  font-weight: bold;
  color: #807bb1;
  font-size: 17px;
}

.booking-history .shared-panel-error {
  margin-top: 20px;
}

.booking-history th {
  background: #F2F2F2;
}

.booking-history .table-bordered {
  border: solid 1px #292929;
  border-bottom: 0;
}

.booking-history .table-bordered td {
  border: solid 1px #292929;
  border-right: 0;
  border-top: 0;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
}

.booking-history .table-bordered th {
  border: solid 1px #292929;
}

.booking-history h2 {
  font-size: 30px;
}

.booking-history h3 {
  font-size: 24px;
}

.booking-history .fake-btn {
  padding: 6px 12px;
  background: #FF69B4;
  color: white;
  border-radius: 6px;
  padding-left: 25px;
  padding-right: 25px;
  border: solid 2px #FF69B4;
}

.list-no-border li {
  border: 0;
}
