@charset "UTF-8";
.radio {
  margin: 0;
}

.radio input {
  margin-left: 5px !important;
}

.pr-option {
  text-align: left;
  padding: 5px 5px 5px 10px;
  background-color: #F5F3F1;
}

.added-pr {
  background-color: white;
  text-align: left;
}

.added-pr td:first-child {
  background: #FFE2E8;
  padding: 10px;
  text-align: left;
}

.content-wrapper {
  height: auto;
  position: relative;
  overflow: hidden;
}

.text-align-left {
  text-align: left;
}

.text-align-left * {
  text-align: left;
}

.coupon {
  font-size: 14px !important;
}

.coupon-title {
  font-size: 20px !important;
  font-size: 16px !important;
  text-align: left;
  padding-right: 0;
  padding-left: 0;
}

.coupon-title-wrap {
  padding: 0 15px;
  margin-bottom: 15px;
}

.coupon-description, .coupon-info {
  word-wrap: break-word;
  padding-bottom: 5px;
  font-size: 14px;
}

.coupon-categories {
  padding: 10px 15px;
}

.f-width {
  max-width: 100%;
}

.staff-price {
  text-align: center !important;
}

.staff-schedule-list {
  width: 100%;
  padding: 30px 0;
}

.staff-schedule-list table {
  max-width: 100%;
  table-layout: fixed;
}

.staff-schedule-list td:last-child {
  border: 0;
  display: inline-block;
}

.staff-schedule-list td {
  margin-bottom: 20px !important;
}

.booking-order-custom {
  float: left;
  width: 100%;
  padding: 15px;
  font-size: 14px !important;
}

.booking-order-custom h4 {
  font-size: 20px !important;
}

.booking-order-custom th {
  background: #F2F2F2;
  padding: 3px;
  width: 200px !important;
}

.booking-order-custom textarea {
  resize: none;
}

.booking-order-custom .required {
  background: #ff69b4;
  color: #F2F2F2;
  margin: 0 5px;
  padding: 3px;
  border-radius: 5px;
}

.booking-order-custom table {
  border: solid 1px #999;
  background: #fdfdfd;
  table-layout: fixed;
}

.booking-order-custom tr {
  border-bottom: solid 1px #999;
}

.booking-order-custom td {
  border-left: solid 1px #999;
  font-weight: normal;
  text-align: left;
  word-wrap: break-word;
}

.booking-order-custom th, .booking-order-custom td {
  padding: 10px;
  font-size: 14px;
}

.booking-order-custom th {
  text-align: center;
}

.booking-order-custom label {
  font-weight: normal;
}

.booking-order-custom h4 {
  font-size: 18px;
}

.booking-order-custom .common-box-h4 {
  margin: 20px 0;
}

.booking-order-custom .submitArea2 {
  padding-top: 20px;
}

.booking-order-success {
  border: solid 1px #999;
  background: #fdfdfd;
  margin-top: 15px;
  padding: 30px;
}

.booking-order-success .btn-custom {
  padding: 0;
  background: transparent;
}

.booking-order-success .btn-custom img {
  height: 60px !important;
  width: 200px;
}

.btn-red {
  color: #fdfdfd;
  background: #ff0064;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 15px;
}

.btn-red:hover {
  color: #fff;
}

.text-align-left {
  text-align: left !important;
}

.radio-list .radio {
  display: inline;
  margin: 0;
  margin-left: 30px;
}

.radio-list .radio label {
  padding-left: 0;
}

.radio-list .radio input {
  margin-left: -20px !important;
}

th.left-bordered {
  border-left: solid 1px #999 !important;
}

.booking-category-filter li {
  float: left;
  width: auto;
  overflow: hidden;
  display: inline-block;
  padding: 5px;
}

.booking-category-filter-all {
  float: left;
  padding: 5px;
  text-align: left;
}

.btn-staff {
  margin-top: 10px;
}

.coupon-info {
  float: left;
  width: auto;
}

.coupon-info dt {
  float: left;
  display: block;
  width: auto;
}

.coupon-info dd {
  float: left;
  margin-left: 10px;
  display: inline;
  width: auto;
}

.scheduleR, .hourR {
  margin-bottom: 0;
}

.bS {
  cursor: pointer;
}

.active, .step-list.step-1 .rslStep1, .step-list.step-2 .rslStep2, .step-list.step-3 .rslStep3, .step-list.step-4 .rslStep4, .step-list.step-5 .rslStep5 {
  color: #CC4466;
}

.step-list a {
  color: #999999;
  text-decoration: underline;
}

.step-list li {
  text-align: left;
  padding-left: 15px;
  height: 50px;
}

.step-list li span:before, .step-list li span:after {
  border-width: 28px 0 28px 10px;
}

.step-list .rslStep1 {
  padding-left: 50px;
  width: 30%;
}

.step-list .rslStep2 {
  padding-left: 50px;
  width: 20%;
}

.step-list .rslStep5 {
  width: 10%;
}

.rslStep5 {
  text-align: center;
  width: 20%;
}

* {
  font-size: 14px;
}

h4 {
  font-size: 20px !important;
}

.option-menu-table {
  background: white;
}

.option-menu-table th:first-child {
  width: 484px;
}

.rsvSelectedCoupon, .pr-name {
  text-align: left;
}

.pr-name label {
  padding-left: 30px;
}

.pr-name .pr-category {
  display: none;
}

.main-footer {
  margin-left: 0 !important;
}

.booking-type-selection {
  float: left;
  padding: 0 0 10px 0;
}

.booking-pagination {
  float: right;
  padding-top: 10px;
  font-size: 14px;
}

.booking-pagination .prev-page {
  margin-right: 10px;
}

.booking-pagination .next-page {
  margin-left: 10px;
}

.booking-pagination .enabled {
  color: #337ab7;
  cursor: pointer;
  cursor: hand;
}

.booking-pagination .disabled {
  color: #999;
}

.staff-avatar {
  width: 115px;
  height: 115px;
  position: relative;
  overflow: hidden;
}

.staff-avatar img {
  min-height: 100%;
  min-width: 100%;
}

.staff-name {
  color: #665555;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  min-height: 48px;
}

.staff-position {
  color: #CC4466;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 5px;
  min-height: 20px;
}

.staff-career {
  font-size: 11px;
  text-align: left;
  margin-bottom: 5px;
  min-height: 20px;
}

.staff-introduction {
  font-size: 11px;
  text-align: left;
  min-height: 20px;
}

.staff-introduction * {
  font-size: 11px;
}

.staff-price {
  padding-top: 10px;
  font-size: 11px;
  min-height: 20px;
}

.booking-check-label {
  max-width: 26px;
}

.coupon {
  margin-bottom: 10px;
}

#booking-error, #booking-error2 {
  border-radius: 0 !important;
  background: #F5F3EF !important;
  border-color: transparent;
  color: #DD0000 !important;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  display: none;
  padding: 10px 15px;
}

.btn-close-alert {
  display: block;
  opacity: 0.8 !important;
  color: #999 !important;
  margin-top: 5px;
}

.booking-help-text {
  color: #AE2D5B;
  margin-left: 15px;
  font-size: 12px;
}

.help-block-error {
  color: #DD0000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.navbar {
  margin-left: 1000px;
}

.logo {
  float: left;
  position: relative;
  display: inline;
  font-size: 12px !important;
  line-height: 12px !important;
  min-height: 0 !important;
  height: auto !important;
  padding: 5px 0 !important;
  padding: 10px 0 !important;
}

.navbar {
  min-height: 0 !important;
}

.navbar {
  margin-left: 1000px;
}

.content-wrapper {
  background: #fff !important;
}

.main-header .navbar {
  background: #998a8a !important;
}

.logo {
  background: #998a8a !important;
}

.me {
  color: #665555;
}

.booking-container {
  background: #fdfdfd;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.coupon {
  border: solid 1px #dfdfdf;
}

.couponTable {
  margin-top: 0;
}

.couponFilterInner {
  padding-bottom: 0;
}

.option-search-by {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  float: left;
  margin-bottom: 5px;
}

.tableFrame {
  margin-bottom: 10px;
}

.booking-list-item-info {
  width: 515px;
  max-width: 515px;
}

@media only screen and (min-width: 1000px) {
  .booking-list-item-info {
    width: 100%;
    max-width: 100%;
  }
}

.coupon.disabled .booking-check-label {
  background: #ccc;
}

.coupon.disabled .coupon-categories li.mB5 {
  float: left;
  word-wrap: break-word !important;
  max-width: 300px;
  overflow: hidden;
  white-space: no-wrap !important;
  text-overflow: ellipsis !important;
}

.arrow-left:before {
  content: "▶";
  color: red;
  font-size: 16px;
  margin-right: 5px;
}

.btn-pink {
  background: #FF69B4;
  color: #FFF !important;
  border-bottom-color: #ff1d8e;
}

.couponMenuIcon {
  float: left;
  word-wrap: break-word !important;
  max-width: 300px;
  overflow: hidden;
  white-space: no-wrap !important;
  text-overflow: ellipsis !important;
}

.staff-panel-small-img {
  max-width: 150px !important;
  margin: 0 auto;
  max-height: 100px !important;
  width: auto !important;
  height: 100px;
}

.staff-panel-big-img {
  max-width: 100% !important;
  margin: 0 auto;
}

.staff-panel {
  font-size: 12px;
}

.staff-panel * {
  font-size: 12px;
}

.staff-panel .table {
  margin-bottom: 0;
  margin-top: 10px;
}

.staff-panel .table-bordered {
  border: solid 1px #ddd;
  border-bottom: 0;
}

.staff-panel .table-bordered td {
  border: solid 1px #ddd;
  border-right: 0;
  border-top: 0;
  text-align: left;
  padding-right: 12px;
  padding-left: 12px;
}

.staff-panel .table-bordered th {
  border: solid 1px #ddd;
}

.staff-panel .staff-gallery {
  margin-top: 10px;
}

.staff-panel figcaption {
  text-align: center;
}

.staff-panel-avatar {
  width: 100%;
  max-height: 150px;
  position: relative;
  overflow: hidden;
}

.staff-panel-avatar img {
  width: 100%;
  max-width: 100%;
}

.staff-panel-catch {
  font-size: 16px;
  font-weight: bold;
  color: #e93c7b;
  margin-bottom: 10px;
}

.salon-nameWrap .salon-name {
  margin: 0 !important;
  color: #666;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.help-block {
  color: #DD0000;
}
