
div.empty {
    width: 35em;
    /* padding: 2em; */
    padding-top: 2em;
    padding-left: 11em;
    background: whitesmoke;
    /* width: 20em; */
    height: 5em;
    font-size: 130%;
    /* margin-left: 16%; */
    float: left;
}

div.no_result {
    width: 35em;
    /* padding: 2em; */
    padding-top: 2em;
    padding-left: 11em;
    background: whitesmoke;
    /* width: 20em; */
    height: 5em;
    font-size: 130%;
    /* margin-left: 16%; */
    float: left;
}

div#image_store {
		height : 200px;
		max-height: 200px;
		border : 1px solid #BFB4AB ;
		margin-left: 2%
	}
a#store_detail.btn.btn-primary {
	width:30%;
	margin-left: 20%;
	background-color: #FF69B4;
}
#main_cointain {
	border : 1px solid ;
}
.text_label_top{
    padding-bottom: 1px;
    background: whitesmoke;
}
