input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 3px;
}
.form-control{
    border-radius: 3px ;
}
.input-group .input-group-addon {

    border-radius: 0 3px 3px 0;
}
.btn-collapse{
    margin-left:0px !important;
    margin-top:10px;
}
.enjoy-lottery-toggle{
    text-align:right;
    color:blue;
}
.common-box{
    border: 0px;
}
.common-box-h4{
    border-left: 10px solid #BFB4AB;
    border-bottom: 2px solid #BFB4AB !important;
    margin-bottom: 1%;
    margin-top: 1%;
}
div>.box.box-solid.box-info>.box-header{
    background-color: #A6A39B;
    background: #A6A39B;
    color: #fff;
}
div>.box.box-solid.box-info {    
    border: 1px solid #A6A39B;
}
.common-button-default{    
    background:  #f4f4f4;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.common-button-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.common-button-1{
    color: #000;
    font-weight: bold;
    border-radius: 5px;
/*    font-size: 20px;*/
    width: 100%;
    margin: 10px 0;
    background: #ddd;
    background: whitesmoke !important;
    color: #444 !important;
}
.bt-caret-right{
    color:#DD4B39;
    float: left;
    font-size: 20px;
}
.common-button-submit{
    background:  #FF69B4;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.common-button-submit:hover{
    background:  #B83199;
    color: #fff;
}
.cm-btn-submit{
    background:  #FF0066;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    /*font-size: 20px;*/
    padding: 5px 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.cm-btn-submit:hover{
    background:  #B83199;
    color: #fff;
}
.common-button-action{
    background:  #FF69B4;
    margin-right: 5px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    /*float: right;*/
}
.common-button-action:hover{
    background:  #B83199;
    color: #fff;
}
.common-float-right{
    float: right;
}
.common-clr-fl-right{
    clear: both;
    float: right;
}
.pagination{
    margin-top: 5px;
    margin-right: 10px;
}
.box-header{
    padding: 0px;
    padding-left: 10px;
}

.master-notice-date .col-md-6 .col-md-3{
    width:48.5%;
}
.master-notice-date .col-md-6 .col-md-9{
    width:50%;
}

.master-notice-date .end-date .col-md-3{
    width:5%;
}

.return-index-page{
    background:  #A6A39B;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 30px;
}
.return-index-page a{
    color:#fff;
}

.return-index-page a:hover{
    color:#fff;
}

.master-notice a.btn:hover{
    color:#fff !important;
}


.clear-form-group > .form-group{
    margin-bottom: 0;
}
.clear-form-group{
    margin: 10px 0;
}
.clear-form-group-1{
    margin: 4px 0;
}
.clear-form-group-1 > .form-group{
    margin-bottom: 0;
}
.clear-form-group-2{
    margin: 0;
}
.clear-form-group-2 > .form-group{
    margin-bottom: 0;
}
.div-margin{
    clear: both;
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.row-inline{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.hasDatepicker{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.hasDatepicker.has-success .hasDatepicker {
    border-color: #00a65a;
    box-shadow: none;
}
.div-border{
    border: 1px solid #A6A39B;
    color: #000;
    padding: 10px;
}
.div-padding{
    font-weight: initial;
    color: #000;
    padding: 10px;
}
.clear-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.clear-padding-top-bot{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.bg_header{
    background-color: #E9E9E9;
    border: 1px solid #fff;
}
.div-padding{
    padding: 15px;
}
.form-marging{
    margin-top: 8px;
}
.common-box>.row{
    margin: 0 20px;
}

.destination-search{
    margin-top:20px;
}

.booking-history-category .field-masterbookinghistorysearch-category label{
    display:inline;
    width: 13.5em;
}
.required-star{
    color: inherit;
}

.required-star:after{
    color: red;
    content: ' *';
    display:inline;
}
.required-text{
    padding: 5px 10px;
    background-color: #FF0066;
    border-radius: 2px;
    display: block;
    color: #fff;
    margin-left: auto;
}
.booking-history-category div{
    display:inline;
}
.booking-history-category #masterbookinghistorysearch-category{
    margin-left: 13.5em;
}
.modal-content > .modal-footer {
    text-align: center;
}
.modal-body > div {
    display: block;
    position: relative;
    overflow: hidden;
}
.skin-red-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #AE2D5B;
}
.skin-red-light .main-header .logo {
    background-color: #AE2D5B;
    border-bottom: 0 solid hsla(0, 0%, 0%, 0);
    color: hsl(0, 0%, 100%);
}
.skin-red-light .main-header .logo:hover {
    background-color: #AE2D5B;
}
.skin-red-light .main-header li.user-header {
    background-color: #AE2D5B;
}
.skin-red-light .main-header .navbar{
    background-color: #AE2D5B; 
}

div#masterseatsearch-smoking_flg,div#masterseatsearch-show_flg,div#masterseat-smoking_flg,div#masterseat-show_flg{
    overflow: hidden;
}
div#masterseatsearch-smoking_flg .radio , div#masterseatsearch-show_flg .radio ,div#masterseat-smoking_flg .radio,div#masterseat-show_flg .radio {
    float: left !important;
    width: 200px;
}
div#mastertypeseat-show_flg{
    overflow:hidden;
}
div#mastertypeseat-show_flg .radio{
    float: left !important;
    width: 150px;
}
/*Setting Iphone 5*/
@media (max-width: 320px) {
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
.btn-collapse{
    margin-left:0px !important;
    margin-top:10px;
}
.enjoy-lottery-toggle{
    text-align:right;
    color:blue;
}
.common-box{
    border: 0px;
}
div>.box.box-solid.box-info>.box-header{
    background-color: #A6A39B;
    background: #A6A39B;
    color: #fff;
}
div>.box.box-solid.box-info>.box-header-1{
    background-color: #F2F2F2 !important;
    background: #F2F2F2;
    color: #000;
}
.box.box-solid.box-info {    
    border: 1px solid #A6A39B;
}
.common-float-right{
    float: right;
}
.common-clr-fl-right{
    clear: both;
    float: right;
}
.pagination{
    margin-top: 5px;
    margin-right: 10px;
}
.box-header{
    padding: 0px;
    padding-left: 10px;
}

.master-notice-date .col-md-6 .col-md-3{
    width:48.5%;
}
.master-notice-date .col-md-6 .col-md-9{
    width:50%;
}

.master-notice-date .end-date .col-md-3{
    width:5%;
}

.return-index-page{
    background:  #A6A39B;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 30px;
}
.return-index-page a{
    color:#fff;
}

.return-index-page a:hover{
    color:#fff;
}

.master-notice a.btn:hover{
    color:#fff !important;
}


.clear-form-group > .form-group{
    margin-bottom: 0;
}
.clear-form-group{
    margin: 10px 0;
}
.clear-form-group-1{
    margin: 4px 0;
}
.clear-form-group-1 > .form-group{
    margin-bottom: 0;
}
.clear-form-group-2{
    margin: 0;
}
.clear-form-group-2 > .form-group{
    margin-bottom: 0;
}
.div-margin{
    clear: both;
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.row-inline{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.hasDatepicker{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.hasDatepicker.has-success .hasDatepicker {
    border-color: #00a65a;
    box-shadow: none;
}
.div-border{
    border: 1px solid #A6A39B;
    color: #000;
    padding: 10px;
}
.clear-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.bg_header{
    background-color: #E9E9E9;
    border: 1px solid #fff;
}
.div-padding{
    padding: 15px;
}
.form-marging{
    margin-top: 8px;
}
.common-box>.row{
    margin: 0 20px;
}

.destination-search{
    margin-top:20px;
}

.booking-history-category .field-masterbookinghistorysearch-category label{
    display:inline;
    width: 13.5em;
}
.required-star{
    color: inherit;
}

.required-star:after{
    color: red;
    content: ' *';
    display:inline;
}
div.required label.control-label:after {
    content: " *";
    color: red;
}
.booking-history-category div{
    display:inline;
}
.booking-history-category #masterbookinghistorysearch-category{
    margin-left: 13.5em;
}
.modal-content > .modal-footer {
    text-align: center;
}
.modal-body > div {
    display: block;
    position: relative;
    overflow: hidden;
}
.kv-file-content img{
    width: 100%;
    height: auto;
}
.multiple-input-list>thead> tr>th{
}
.multiple-input> table.multiple-input-list tbody tr > td{
    text-align: center;
    border: 1px solid #A6A39B !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(2){
    border-right: 0px !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(3){
    border-left: 0px !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(4){
    border-right: 0px !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(5){
    border-left: 0px !important;
    border-right: 0px !important;
}
.multiple-input> table.multiple-input-list tbody tr > td:nth-child(6){
    border-left: 0px !important;
}
table.multiple-input-list>thead>tr>th{
    border: 1px solid #A6A39B !important;
}
table.multiple-input-list>thead>tr>th:nth-child(2){
    border-right: 0px !important;
}
table.multiple-input-list>thead>tr>th:nth-child(3){
    border-left: 0px !important;
}
table.multiple-input-list>thead>tr>th:nth-child(5){
    border-left: 0px !important;
    border-right: 0px !important;
}
table.multiple-input-list>thead>tr>th:nth-child(6){
    border-left: 0px !important;
}
.position-absolute{
    position: absolute;
}

#masterseat-capacity_min,#masterseat-capacity_max,#masterseatsearch-capacity_min{
    text-align:right;
}

/*Setting Iphone 5*/
@media (max-width: 320px) {
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* ******************* */
/* Css for Master coupon Datpdt 09/19/2016 Start*/
/* ******************* */
.label-margin {
    margin-top: 0.5em;
    font-weight: bold;
}
.label-center {
    text-align: center;
    font-weight: bold;
}
.font_label {
    font-weight: bold;
}
.magin_button {
    margin-left: 2em;
}
.boder_input{
    border-radius: 0.5em;
}
.drop_list{
    width: 15em;
}
.radio_benefits_content_coupon{
    margin-top: 0.7em;
}
.table-product{
    margin-top: 1em;
    width: 47em;
}
th{
    text-align: center;
    background-color: #ccc;
}
td{
    text-align: center; 
}
.field-store-post_code .help-block{
    width: 30em;
}
.date_ {
    width: 1em;
}
/* Hiden icon in image */
.file-upload-indicator {
    display: none;
}
.close{
    display: none;
}
/* ******************* */
/* Css for Master coupon Datpdt 09/19/2016 End*/
/* ******************* */


/* css for pagination */


.hiden  a {
    display: none;
}
.hiden.show2 > a {
    background: none;
    border: medium none;
    color: hsl(240, 6%, 43%);
    display: inline;
    font-weight: normal;
    padding: 5px 0;
    text-align: center;
    width: 60px;
}
.pagination > li > a, .pagination > li > span{
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 87%);
    border-radius: 5px;

    font-size: 17px;
    /*/font-weight: bold;*/
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 30px;
}
.hiden.active.show2 > a:hover {
    background: none;
    color: #666673;
}
.pagination{
    margin-top: 1px;
    margin-top: 1px;
}
.pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: hsl(0, 0%, 100%);
    color: hsl(240, 6%, 43%);
}

.div-horizontal{
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    /*    -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;*/
}
.div-horizontal-all{
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.padding-10{
    padding: 10px;
}
.padding-20{
    padding: 20px;
}

.common-back{
    background:  #FFF;
    color: #000;
    font-weight: bold;
    border-radius: 3px !important;
    /*font-size: 20px;*/
    padding: 5px 50px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #FF0066 !important;
}
.common-back:hover{
    background:  #B83199;
    color: #fff;
}
.required>.clear-label-requir>.control-label:after {
    content: " ";
    color: red;
}
.text-pink{
    color: #FF69B4;
}
.btn_search_byhistory {
    width: 60%;
    background-color: #ffffff;
    border-color: #FF69B4 !important;
    color: #FF69B4;
    font-size: 1.3em;
    border-width: 2px;
    border-radius: 0.4em;
    height: 2.1em;
    white-space: nowrap;
    border: 1px solid transparent;
}

.box-header_buy {
    color: #444;
    display: block;
    /* padding: 10px; */
    position: relative;
}

.box-list_buy {
   border : 1px solid black;
   margin-top:1.5%;
   padding: 1.5em;
}

.related-post {
    padding: 0;
    margin: 0 0 20px;
    font-size: 110%;
    border-bottom: 2px dashed rgba(0,0,0,0.12);
}

.prev_bt{
  color: #f50f6d;
}
.clear-help-block > .form-group > .help-block {
    margin: 0;
}
.clear-help-block .help-block {
    margin: 0;
}
.update-member .tr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.box.box-solid.box-info {
    border: 0px  #FFFFFF !important;
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #FFFFFF !important;
    z-index: 800;
}
.content {
    min-height: 250px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.box-solid {
    box-shadow: none;
}
.main-header {
    border-bottom: solid 2px #963333;
    max-height: none;
}
.main-header .navbar.navbar-custom {
    background: #eadede !important;
    background: #FFFFFF !important;
}
.main-header li.custom-li {
    background: transparent !important;
}
.main-header li.custom-li a {
    color: purple !important;
}
.main-header li.custom-link a {
    color: #A6A39B !important;
}
.main-header .logo {
    height: 80px;    
}
.main-sidebar {
    padding-top: 80px;
}
.common-button-submit {
    font-size: inherit;
    margin: 0 auto;
}
.wrapper {
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: auto;
}

/* vuong_vt*/
/* css pagination customize  */
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border :none;
}
.pagination > li:last-child > a, .pagination > li:last-child > span { 
    border :none;
}
.pagination>li>a {
    background: white;
}
.pagination > li > a:hover { 
    background-color: white !important;
}
.hiden.show2 > a {
    width: 95px !important;
}
div.no_result_search_history {
    width: 100%;
    /* padding: 2em; */
    padding-top: 2em;
    //padding-left: 11em;
    text-align: center;
    background: whitesmoke;
    /* width: 20em; */
    height: 5em;
    font-size: 130%;
    /* margin-left: 16%; */
    float: left;
}
.no_result_return {
    font-size:140%;
    height:80px;
    text-align: center;
    margin-left:14%;
    padding-top: 2%;
    background-color:whitesmoke
}
.text_label_top{
    padding-bottom: 1px;
    background: whitesmoke;
    margin-left: -19%;
}
.text_rank_top{
    padding: 1em;
    padding-bottom: 1px;
    background: whitesmoke;
}

.bx-wrapper .bx-pager {
    display: none;
}
.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}