.top-page .store-img {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.top-page .store-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.top-page .owl-carousel {
  position: relative;
  padding: 0 35px;
}

.top-page .owl-carousel .item {
  background: whitesmoke;
  padding: 10px;
}

.top-page .owl-carousel .item * {
  font-size: 16px;
}

.top-page .owl-prev,
.top-page .owl-next {
  position: absolute;
  top: 30%;
  margin-top: -10px;
  font-size: 70px !important;
  color: #e93c7b;
}

.top-page .owl-prev .fa,
.top-page .owl-next .fa {
  font-size: 70px !important;
}

.top-page .owl-prev {
  left: 0;
}

.top-page .owl-next {
  right: 0;
}

.top-notices {
  border: solid 2px #292929;
}

.top-notices .row {
  padding: 0 15px;
}

.top-notice-title {
  height: 50px;
  background: whitesmoke;
  text-align: center;
}

.between-date {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 0 !important;
  display: none;
}

div.clear-padding {
  margin: -17px -13px 0 -13px;
}

.has-error div.clear-padding {
  margin-top: -11px;
}

@media only screen and (min-width: 992px) {
  .col-md-4-5 {
    width: 37.5% !important;
  }
}

@media only screen and (min-width: 992px) {
  .between-date {
    display: inline;
  }
}

.label-margin {
  margin-bottom: 10px;
}

ul.pagination {
  float: right;
}

.no_result_search_history {
  margin-top: 15px;
}

.black-bordered-box {
  margin-top: 15px;
  border: solid 2px #444;
  padding: 15px;
}

.staff-panel-small-img {
  max-width: 150px !important;
  margin: 0 auto;
  max-height: 100px !important;
  width: auto !important;
  height: 100px;
}

.staff-panel-big-img {
  max-width: 100% !important;
  margin: 0 auto;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.staff-panel {
  font-size: 12px;
}

.staff-panel * {
  font-size: 12px;
}

.staff-panel .table {
  margin-bottom: 0;
  margin-top: 10px;
}

.staff-panel .table-bordered {
  border: solid 1px #ddd;
  border-bottom: 0;
}

.staff-panel .table-bordered td {
  border: solid 1px #ddd;
  border-right: 0;
  border-top: 0;
  text-align: left;
  padding-right: 12px;
  padding-left: 12px;
}

.staff-panel .table-bordered th {
  border: solid 1px #ddd;
}

.staff-panel .staff-gallery {
  margin-top: 10px;
}

.staff-panel figcaption {
  text-align: center;
}

.staff-panel-avatar {
  width: 100%;
  max-height: 150px;
  position: relative;
  overflow: hidden;
}

.staff-panel-avatar img {
  width: 100%;
  max-width: 100%;
}

.staff-panel-catch {
  font-size: 16px;
  font-weight: bold;
  color: #e93c7b;
  margin-bottom: 10px;
}

.staff_image {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  margin-bottom: 10px;
}

.staff_image img {
  width: 100%;
  height: 100%;
}

.flex-next, .flex-prev {
  height: 50px !important;
}

.store-detail .table-bordered {
  border: solid 1px #ddd;
  border-bottom: 0;
}

.store-detail .table-bordered td {
  border: solid 1px #ddd;
  border-right: 0;
  border-top: 0;
  text-align: left;
  padding-right: 12px;
  padding-left: 12px;
  vertical-align: middle;
}

.store-detail .table-bordered th {
  border: solid 1px #ddd;
  background: whitesmoke;
}

.btn-default {
  background: #FF69B4 !important;
  color: white !important;
  padding: 5px 30px !important;
  font-weight: bold !important;
  border-radius: 6px !important;
}

.btn-default:hover {
  background: #B83199 !important;
  color: #fff !important;
}

.btn-pink {
  background: #FF69B4 !important;
  color: white !important;
  border-radius: 6px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  border: solid 2px #FF69B4 !important;
  border: solid 2px transparent !important;
}

.btn-pink:hover {
  background: #FF69B4 !important;
}

.btn-empty {
  background: white !important;
  color: #FF69B4 !important;
  border: solid 2px #FF69B4 !important;
}

.btn_search_byhistory {
  padding: 0 !important;
}

@media only screen and (min-width: 992px) {
  .history-search-form .col-md-3 {
    padding-right: 0;
  }
}
