.checkbox label {
  height: 26.66667px;
  padding: 3px 20px;
}

.checkbox label:after {
  font-size: 20px;
  margin-top: -2px;
  margin-left: -22px;
}

.checkbox label:before {
  width: 20px;
  height: 20px;
}

.login-frontend .custom-input, .login-frontend input[type=text], .login-frontend input[type=password], .login-frontend button, .login-frontend .login-box-a {
  height: 40px;
  max-width: 100%;
  max-height: 40px;
}

.login-frontend button, .login-frontend .login-box-a {
  font-size: 16px;
}

.login-frontend .login-logo {
  font-size: 20px;
}

.login-frontend .checkbox input {
  width: 20px;
  height: 20px;
}

.login-frontend .checkbox span {
  line-height: 2;
}
