.checkbox label {
  height: 33.33333px;
  padding: 3px 20px;
}

.checkbox label:after {
  color: #AE2D5B;
  font-size: 20px;
}

.checkbox label:before {
  background: transparent;
  border-radius: 0;
  border: solid 2px #444;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


.login-box-custom {
  width: 100%;
  border: solid 2px #444;
}

.login-box-custom .login-logo {
  margin: -20px;
  margin-bottom: 20px;
  background: #F2F2F2;
  font-size: 28px;
  padding: 5px;
}

.login-box-custom .control-label {
  padding-left: 6px;
  border-left: solid 6px #ff0064;
  font-weight: normal;
  font-size: 16px;
  color: #444 !important;
}

.login-box-custom .control-label:after {
  /*content: '*';*/
  font-size: 16px;
  margin-left: 4px;
  color: #ff0064;
}

.login-box-custom .custom-input, .login-box-custom button, .login-box-custom input[type=text], .login-box-custom input[type=password] {
  width: 100%;
  height: 50px;
  max-width: 100%;
  max-height: 50px;
}

.login-box-custom .checkbox {
  font-size: 16px;
}

.login-box-custom .checkbox input {
  width: 25px;
  height: 25px;
  border: solid 2px #444;
}

.login-box-custom .checkbox span {
  line-height: 2;
}

.login-box-custom .btn{
  border-radius: 5px;
  background-color: #ff0064;
  font-size: 22px;
  color: #dfdfdf;
}

.login-box-custom .btn:hover {
  color: #fdfdfd;
}
.login-box-a{
    width: 100%;
    height: 50px;
    max-width: 100%;
    max-height: 50px;
    border-radius: 5px;
    background-color: #ff0064;
    font-size: 22px;
    color: #dfdfdf;
}
.login-box-a:hover{
    color: #fdfdfd;
}

.login-box-custom input[type=text], .login-box-custom input[type=password] {
  border: solid 2px #444;
}
.col-25{
    width: 25%;
}
.col-125{
    width: 12.5%;
}
.form-group.has-error .form-control{
    background-color: #FFCCCC;
}
has-error> input .form-control{
    background-color: #FFCCCC;
}
.position-relative{
    position: relative;
    overflow: hidden;
}
.clear-marging{
    margin: 0px !important;
}
.clear-padding-login-box-body{
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
