@charset "utf-8";

/************************************************************
 * CLASSES（コンポーネント）
 ************************************************************/
/* *************************************** */
/* salonHeader */
/* *************************************** */
.rsvSalonHeader {
    background-color: #F4F4F4;
}
.rsvType {
    background-color: #EF4256;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    line-height: 26px;
    width: 80px;
    text-align: center;
    margin-right: 8px;
}
.rsvTypeLead {
    color: #EF4256;
    font-weight: bold;
    overflow: hidden;
    line-height: 26px;
}
.salon-nameWrap {
    color: #665555;
    padding: 15px 15px 10px;
}
.salon-name {
    font-size: 18px;
    font-weight: bold;
}

/* 矢羽根 */
.rsvStepList {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    line-height: 1;
    overflow: hidden;
    width: 100%;
    background: #fff;
}
.rsvStepList > li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999999;
    display: table-cell;
    font-size: 13px;
    font-weight: bold;
    height: 6em;
    position: relative;
    vertical-align: middle;
}
.rsvStepList > li > span {
    display: block;
    font-size: 10px;
    margin-bottom: 4px;
}
.rsvStepList > li > span:before,
.rsvStepList > li > span:after {
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
}
.rsvStepList > li > span:before {
    border-color: transparent transparent transparent #CBC4C4;
    border-width: 40px 0 40px 20px;
    right: 0;
    top: -1px;
}
.rsvStepList > li > span:after {
    border-color: transparent transparent transparent #FFFFFF;
    border-width: 40px 0 40px 20px;
    right: 1px;
    top: -1px;
}
.rslStep1 {
    text-align: center;
    width: 20%;
}
.rslStep2 {
    text-align: center;
    width: 20%;
}
.rslStep3 {
    text-align: center;
    width: 20%;
}
.rslStep4 {
    text-align: center;
    width: 20%;
}
.rslStepEnd {
    text-align: center;
    width: 20%;
}
.rslStep1:before,
.rslStep2:before {
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
}
.rslStep1:before {
    height: 20px;
    left: 10px;
    top: 11px;
    width: 30px;
}
.rslStep2:before {
    background-position: 0 -90px;
    height: 30px;
    left: 10px;
    top: 5px;
    width: 30px;
}
.rsvStepList > .active	{ color: #CC4466; }
.rsvStepList > .passive	{ color: #CCCCCC; }
.rslStep1.active:before { background-position: 0 0; }
.rslStep1.passive:before { background-position: 0 -60px; }
.rslStep2.active:before	{ background-position: 0 -130px; }
.rslStep2.passive:before	{ background-position: 0 -210px; }

.row>.box-header.with-border.common-box-h4-1{
    border-bottom: 0px solid #f4f4f4;
}
.row>.common-box-h4-1 {
    border-left: 10px solid #FF0066;
    border-bottom: 0px solid #FF0066;
    padding: 5px 10px;
    font-size: 1.5em;
}