.skin-red .main-sidebar {
    background-color: #fff;
}
.skin-red .treeview-menu>li>a:hover {
	background: #f2f1f0;
	text : black;
}
.skin-red .sidebar-menu>li>.treeview-menu {
	line-height: 30px;
	background: #f4f4f4;
}
menu>li.active>a, .skin-red .treeview-menu>li>a:hover {
	color :#444;
}
.skin-red .sidebar-menu>li>a:hover {
	background: #e93c7b;
}
.skin-red .sidebar a {
	color :#444;
}
.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a {
	background: #e93c7b;
}
.skin-red .main-sidebar {
	 
}
.main-header .navbar {
    background-color: #BFB4AB !important;
}
header.main-header {
	background-color: #BFB4AB !important ;
}
.logo, .navbar li {
	background-color: #BFB4AB !important ;
}
a.logo {
	font-size: 20px !important;
	margin-top: 10px;
}
.navbar li a {
	margin :10px 17px 0 0 ;
}
section.sidebar {
	margin-top: -22%;
}