#mst-booking-order-detail-form {
  text-align: left;
  font-size: 16px;
}

#mst-booking-order-detail-form .table {
  overflow: hidden;
  border: solid 2px #444;
  background: #fff;
}

#mst-booking-order-detail-form tr {
  border-top: solid 2px #444;
}

#mst-booking-order-detail-form tr:first-child {
  border-top: 0;
}

#mst-booking-order-detail-form th, #mst-booking-order-detail-form td {
  vertical-align: middle !important;
}

#mst-booking-order-detail-form td {
  text-align: left;
  border-left: solid 2px #444;
}

#mst-booking-order-detail-form th.bl {
  border-left: solid 2px #444;
}

#mst-booking-order-detail-form .form-group {
  margin-bottom: 0;
}

#mst-booking-order-detail-form .has-parts {
  padding: 0;
}

#mst-booking-order-detail-form .has-parts div {
  float: left;
  width: 50%;
  padding: 8px;
}

#mst-booking-order-detail-form .has-parts div:not(:first-child) {
  border-left: solid 2px #444;
}

#mst-booking-order-detail-form .tr-space {
  padding: 8px;
  display: block;
  float: left;
}

#mst-booking-order-detail-form h4 {
  font-size: 20px;
  padding-bottom: 8px;
}

#mst-booking-order-detail-form .btn-confirm {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff0064;
  font-size: 22px;
  color: #dfdfdf;
  margin: 0 auto;
}

#mst-booking-order-detail-form button:hover {
  color: #fdfdfd;
}

#mst-booking-order-detail-form .radio, #mst-booking-order-detail-form .checkbox, #mst-booking-order-detail-form .radio-inline {
  vertical-align: sub;
}

#mst-booking-order-detail-form textarea {
  width: 100%;
  resize: none;
}

#mst-booking-order-detail-form .btn-app {
  background: transparent;
  border: 0;
  padding: 0;
}

#mst-booking-order-detail-form .btn-app img {
  max-width: 100%;
  width: 200px;
  height: 50px;
}

#mst-booking-order-detail-form .radio {
  display: inline;
  margin-left: 10px;
}
