/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2016, 9:55:21 AM
    Author     : rikei
*/
.date-time-rank{
    font-size:18px;
    margin-bottom: 10px;
}
.rank-item-detail, .condition-rank-detail{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.rank-item-name{
    font-size:16px;
    margin-bottom: 10px;
}
.rank-item-detail{
    padding:15px;
    margin-bottom: 20px;
    border:2px solid #ccc;
}
.rank-item-detail.rank-detail-page{
    width: 80%;
    margin: 15px auto;
}
.rank-item-detail:hover{
    border-color: #e93c7b;
}
.line-heading{
    width: 100%;
    height: 1px;
    display: block;
    border-bottom: 1px dashed #ccc;
}
.top-pagination-rank{
    width:321px;
    float:right;
    position:relative;
    display:block; 
    min-height: 40px;
}
.top-pagination-rank .pagination{
    width: 100%;
    z-index:2;
}
.top-pagination-rank .pagination .prev{
    float:left;
}
.top-pagination-rank .pagination .next{
    float:right;
}
.top-pagination-rank .pagination .disabled{
    display: none;
}
.top-pagination-rank .count-page-pagination{
    position:absolute;
    margin: 0 auto;
    left:0px;
    right:0px;
    top:0px;
    text-align:center;
    font-size:17px;
    padding:5px 0px;
    z-index:1;
    width: 100px;
}
.pagination > li > a, .pagination > li > span{
    border:none;
}
.rank-item-body{
    padding-top:10px;
}
.rank-item-info .rank-name{
    margin-bottom: 10px;
}
.rank-item-info .rank-name .rank-level-name,.text-complete-rank{
    font-size:25px;
    font-weight: bold;
    color: #ff2fc9;
}
.rank-item-info .rank-image, .rank-item-info .rank-image img{
    width: 220px;
}

.rank-item-condition{
    margin-top: 10px;
    line-height: 15px;
    min-height: 220px;
}
.rank-detail-page .rank-item-condition{
    min-height: 70px;
}
.text-complete-rank{

}
.rank-item-condition span{
    font-size:18px;   
}
.rank-item-condition span:nth-child(2){
    font-size:35px;
}
.percentage .text-center{
    line-height: 20px;
    padding-top:30%;
    font-size: 25px;
}
.percentage .text-center span{
    display:block;
    color: #cc0000;
}
.percentage .text-center span.middle{
    font-size:35px;
    font-weight:bold;
    line-height: 45px;
}
.condition-rank-detail{
    padding:25px 15px;
    border:2px solid #ccc;
    margin-top: 15px;
    margin-bottom: 10px;
}
.condition-rank-detail:hover{
    border-color: #e93c7b;
}
.condition-rank-detail .number-rank-info{
    margin-bottom: 20px;
    margin-top: 5px;
}
.condition-rank-detail .number-rank-info .number-rank{
    padding: 10px 25px;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    border-radius:5px;
    background-color:#ff69b4;
}
.condition-rank-detail .number-rank-info .number-rank-test{
    padding-left: 15px;
    font-size:20px;
}
.condition-rank-detail .percentage, .label {
    margin-bottom: 0.3em;
    margin: 0 auto;
}


