/* Mobile Responsive */
@media (max-width: 1199px){

}
@media (max-width: 979px) {
    .rank-item-detail.rank-detail-page{
        width: 100%;
    }
    .rank-item-info .rank-image{
        margin: 0 auto;
    }
    .rank-item-info .rank-image{
        margin-bottom: 10px;
    }
    .rank-item-condition, .text-complete-rank, .complete-rank{
        text-align: center;
        line-height: 40px;
    }
    .rank-detail-page .rank-item-condition, .rank-item-condition{
        min-height: auto;
    }
}

@media (max-width: 900px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media (max-width: 650px) {
    
    .rank-item-info .rank-image, .rank-item-info .rank-image img{
        width: 100%;
    }
}

@media (max-width: 480px) {
    
}

@media (max-width: 360px) {

}