@charset "utf-8";

/************************************************************
 * CLASSES（コンポーネント）
 ************************************************************/
/* *************************************** */
/* salonHeader */
/* *************************************** */
.rsvSalonHeader {
    background-color: #F4F4F4;
}
.rsvType {
    background-color: #EF4256;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    line-height: 26px;
    width: 80px;
    text-align: center;
    margin-right: 8px;
}
.rsvTypeLead {
    color: #EF4256;
    font-weight: bold;
    overflow: hidden;
    line-height: 26px;
}
.salon-nameWrap {
    color: #665555;
    padding: 15px 15px 10px;
}
.salon-name {
    font-size: 18px;
    font-weight: bold;
}

/* 矢羽根 */
.rsvStepList {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    line-height: 1;
    overflow: hidden;
    width: 100%;
    background: #fff;
}
.rsvStepList > li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999999;
    display: table-cell;
    font-size: 13px;
    font-weight: bold;
    height: 6em;
    position: relative;
    vertical-align: middle;
}
.rsvStepList > li > span {
    display: block;
    font-size: 10px;
    margin-bottom: 4px;
}
.rsvStepList > li > span:before,
.rsvStepList > li > span:after {
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
}
.rsvStepList > li > span:before {
    border-color: transparent transparent transparent #CBC4C4;
    border-width: 40px 0 40px 20px;
    right: 0;
    top: -1px;
}
.rsvStepList > li > span:after {
    border-color: transparent transparent transparent #FFFFFF;
    border-width: 40px 0 40px 20px;
    right: 1px;
    top: -1px;
}
.rslStep1 {
    text-align: center;
    width: 20%;
}
.rslStep2 {
    text-align: center;
    width: 20%;
}
.rslStep3 {
    text-align: center;
    width: 20%;
}
.rslStep4 {
    text-align: center;
    width: 20%;
}
.rslStepEnd {
    text-align: center;
    width: 20%;
}
.rslStep1:before,
.rslStep2:before {
    background-image: url(/img_salon/icon_reserve66a8.png??switch=20160825);
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
}
.rslStep1:before {
    height: 20px;
    left: 10px;
    top: 11px;
    width: 30px;
}
.rslStep2:before {
    background-position: 0 -90px;
    height: 30px;
    left: 10px;
    top: 5px;
    width: 30px;
}
.rsvStepList > .active	{ color: #CC4466; }
.rsvStepList > .passive	{ color: #CCCCCC; }
.rslStep1.active:before { background-position: 0 0; }
.rslStep1.passive:before { background-position: 0 -60px; }
.rslStep2.active:before	{ background-position: 0 -130px; }
.rslStep2.passive:before	{ background-position: 0 -210px; }

/* *************************************** */
/* Filter menu*/
/* *************************************** */
.couponFilter {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-weight: bold;
    line-height: 1;
    width: 100%;
}
.couponFilterInner {
    padding: 15px 0 15px 15px;
}
.couponFilterList > li {
    float: left;
    margin-bottom: 15px;
    width: 120px;
}
.couponFilterSubmit {
    background-color: #F4F4F4;
    border-radius: 0 4px 4px 0;
    text-align: center;
    width: 120px;
}
.btnCouponFilterSubmit {
    cursor: pointer;
    height: 34px;
    width: 90px;
}
.couponTypeFilter > li {
    display: table;
    float: left;
}
.couponTypeFilter > li + li {
    margin-left: 10px;
}

.btnAddMenuReserve:before {
    background-position: -190px -6569px;
    height: 14px;
    width: 10px;
}

.btnCouponTypeFilter {
    background-color: #FFFFFF;
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px 1px;
    box-sizing: border-box;
    display: table-cell;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}
a.btnCouponTypeFilter {
    color: #988989;
    text-decoration: none;
}
a.btnCouponTypeFilter:hover {
    opacity: 0.7;
}
.btnCouponTypeFilter.isCr {
    background: #FF69B4;
    border: 0;
    color: #FFFFFF;
}
.btnCouponTypeFilter.isDisabled {
    border-color: #EEEEEE;
    color: #CCCCCC;
}
.couponResultMessage {
    color: #988989;
    font-size: 13px;
    line-height: 1;
}
/* /Coupon Filter */
/* Radio, Checkbox */
/* 予約導線はglobal.cssを読んでいない為記述。 */
.basicRadio,
.basicCheck {
    padding-right: 5px;
    vertical-align: middle;
}
.basicRadio,
.basicCheck,
.basicRadio + label,
.basicCheck + label {
    cursor: pointer;
}
.basicRadio[disabled] + label,
.basicCheck[disabled] + label {
    color: #CCCCCC;
}
.basicRadio[disabled],
.basicCheck[disabled],
.basicRadio[disabled] + label,
.basicCheck[disabled] + label {
    cursor: default;
}

@media (min-width: 1px) {
    .basicRadio,
    .basicCheck {
        display: none;
        margin: 0;
    }
    .basicRadio + label,
    .basicCheck + label {
        display: inline-block;
        padding: 0 0 0 19px;
        position: relative;
    }
    .basicRadio + label:before,
    .basicCheck + label:before {
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 14px;
        left: 0;
        position: absolute;
        width: 14px;
    }
    .basicRadio + label:before,
    .basicRadio + label:after,
    .basicCheck + label:before,
    .basicCheck:checked + label:after {
        top: -1px;
    }
    .basicRadio + label:before {
        border-radius: 30px;
    }
    .basicCheck + label:before {
        border-radius: 4px;
    }
    .basicRadio + label:after,
    .basicCheck:checked + label:after {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        content: "";
        display: block;
        margin-top: 3px;
        position: absolute;
    }
    .basicRadio + label:after {
        background-color: #CCCCCC;
        border-radius: 8px;
        height: 8px;
        left: 3px;
        width: 8px;
    }
    .basicCheck:checked + label:after {
        border-color: #FFFFFF;
        border-style: solid;
        border-width: 0 0 2px 2px;
        height: 6px;
        left: 3px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 8px;
    }
    .basicRadio:disabled + label:before,
    .basicCheck:disabled + label:before,
    .basicRadio:checked:disabled + label:before,
    .basicCheck:checked:disabled + label:before {
        background-color: #FFFFFF;
        border-color: #E6E6E6;
    }
    .basicRadio:checked:disabled + label:after,
    .basicRadio:disabled + label:after {
        background-color: #E6E6E6;
    }
    .basicCheck:checked:disabled + label:after {
        content: none;
    }
}

/* スタッフカセット */
.rsvStaffTbl {
    border-bottom: 1px solid #BFB4AB;
    color: #665555;
    font-size: 11px;
    padding-bottom: 20px;
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.rsvStaffTbl + .rsvStaffTbl {
    margin-top: 20px;
}
.rsvStaffTbl td {
    padding: 0 15px;
    vertical-align: top;
}

/************************************************************
 * 初期化
 ************************************************************/

body, form, img, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3 ,h4 , h5, h6, table, th ,td ,select {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust:none;
}
ul, ol	{ list-style: none; }
img		{ border: 0 !important; vertical-align: bottom; }
table	{ border-spacing: 0; }
th		{ text-align: left; }

iframe	{ vertical-align: middle; }

/* clearfix */
.cFix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.cFix	{ min-height: 1px; _height: 1px; }

/************************************************************
 * アンカー
 ************************************************************/
/*
a				{ text-decoration: none; }
a:link			{ color: #4C4C80; }
a:visited		{ color: #896958; }
a:hover,
a:active		{ color: #7878CC; text-decoration: underline; }*/

.linkPink:link,
.linkPink:visited { color: #CD4D72; }
.linkPink:hover,
.linkPink:active { color: #CD4D72; text-decoration: underline; }

.linkGray:link,
.linkGray:visited	{ color: #555555; }
.linkGray:hover,
.linkGray:active	{ color: #555555; text-decoration: underline; }

.linkWhite:link,
.linkWhite:visited { color: #FFFFFF; }
.linkWhite:hover,
.linkWhite:active { color: #FFFFFF; text-decoration: underline; }

.linkDisabled:link	{ color: #999999; cursor: text; }

/************************************************************
 * フォント
 ************************************************************/

body, input, select, textarea, table, th, td, li ,a {
    font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS P Gothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', arial, sans-serif, verdana, Helvetica;
}
body, input, select, textarea, table {
    color: #333333;
    font-size: 12px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
}

.fFg {
    font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS P Gothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', arial, sans-serif, verdana, Helvetica;
}

.fFm {
    font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',MS PGothic,sans-serif;
}

/* Radio, Checkbox color */
@media (min-width: 1px) {
    .basicCheck:checked + label:before {
        background-color: #D36985;
        border-color:#D36985;
    }
    .basicRadio:checked + label:after {
        background-color: #D36985;
    }
}
.pr {
    position: relative;
    /* zoom: 1; */
}
.mT10 {
    margin-top: 10px;
}
/* PAGETOP */
.pageTopImg {
    background: url(/img_salon/btn_pageTop66a8.png) no-repeat;
    bottom: 50px;
    display: none;
    height: 54px;
    text-indent: 100%;
    overflow: hidden;
    position: fixed;
    margin-right: -554px;
    right: 50%;
    width: 54px;
    white-space: nowrap;
    z-index: 999;
}
@media screen and (max-width: 1148px) {
    .pageTopImg {
        margin-right: 0;
        right: 10px;
    }
}
