/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-header {
  padding: 10px;
  font-weight: bold;
  color: white;
  background: #BFB4AB;
  font-size: 19.6px;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-section-title {
  border-left: solid 10px #BFB4AB;
  border-bottom: solid 1px #BFB4AB;
  width: 50%;
  padding-left: 14px;
  padding: 10px;
  font-size: 16.8px;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-toppad-sm {
  margin-top: 10px;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-toppad-md {
  margin-top: 14px;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-toppad-lg {
  margin-top: 19.6px;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-box {
  border: solid 1px #BFB4AB;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-date-picker {
  margin: -7px -13px 0 -13px;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-text-right {
  text-align: right;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-pagination a {
  font-size: 16px;
  float: none;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-panel-error {
  border-radius: 0 !important;
  background: #F5F3EF !important;
  border-color: transparent;
  color: #DD0000 !important;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 15px;
}

.shared-alert, .shared-alert-info {
  padding: 10px 15px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-alert, .shared-alert-info {
  color: #3c763d;
  background: #dff0d8;
  border-color: #3c763d;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-category-list li {
  word-wrap: break-word;
  max-width: 100%;
  color: #fdfdfd;
  background: #ff69b4;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-modal .modal-content {
  border: solid 2px #999;
}

.shared-modal .modal-body {
  height: auto;
  overflow: hidden;
}

.shared-modal .btn-close {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 25px;
  border: solid 2px #999;
  font-weight: bold;
  font-size: 18px !important;
  background: #fff;
  height: 30px;
  width: 30px;
  line-height: 20px;
  color: #0ea5d4;
}

.shared-modal .btn-close * {
  font-size: 18px !important;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-figure {
  margin-bottom: 10px;
}

.shared-figure img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 10px;
  line-height: 1;
}

/* PLEASE DONT CHANGE ANYTHING INSIDE THIS FILE */
.shared-common-container {
  max-width: 1024px;
  margin: 0;
  margin-top: 10px;
  padding: 0 15px;
  display: block;
  float: none;
}
