html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}
a.btn-back{
    background-color: #FFFFFF;
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px 1px;
    box-sizing: border-box;
    display: table-cell;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
    color: #988989;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
a.btn-back:hover{
    color:#fff;
    background-color: #e93c7b;
}
.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}
/* ============FOR LAYOUT=======*/
.site-container{
    background: #fdfdfd;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.content-wrapper.full-page{
    margin: 0px;
}
.content-wrapper.full-page + footer{
    margin: 0px;
}
.skin-red .main-header .navbar, .skin-red .main-header .logo{
    background-color:#BFB4AB    ;
}
.skin-red .main-sidebar{
    background-color:#f1e8e8 !important;
}
.skin-red .sidebar a, .skin-red .treeview-menu>li>a:hover{
    color:#444;
    border-bottom: 1px solid #dcdcdc;
}
.skin-red .sidebar a i{
    color:#e93c7b;
}
.skin-red .sidebar a:hover, .skin-red .sidebar a:hover i, .skin-red .sidebar-menu>li.active>a i{
    color:#fff;
}
.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a{
    background-color: #e93c7b;
    border-left: #e93c7b;
}
.skin-red .sidebar-menu>li>.treeview-menu{
    margin: 0px;
    background-color: #f4f4f4;
}
.sidebar-menu .treeview-menu>li>a{
    padding:12px 5px;
}
.sidebar-menu .treeview-menu>li>a:hover{
    background: #f2f1f0;
}
.sidebar-menu .treeview-menu>li>a:hover i{
    color:#e93c7b;
}
.sidebar-menu .treeview-menu>li.pad-left a{
    padding-left:32px;
}
.skin-red .treeview-menu>li.active>a, .skin-red .treeview-menu>li>a:hover{
    color:#444;
}